{% set base = "../" %}

{% extends "layouts/layout.njk" %}

{% block content %}
<div class="d-card">
    <div class="user-wrapper">
        <h2 class="fz24 fw-500 mb-3">Add New Influncer Campaign</h2>

        <p class="fz12 fw-400 gray-color influencer-top mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>

        <div class="user_btn">
            <a href="influencer/influencerAddTab.html" class="rs-btn rs-btn-lg rs-btn-primary uppercase fz20">
                <i class="mdi mdi-plus-thick pr-2"></i>Create Campaign
            </a>
        </div>

        {% include 'snippets/modals/propertiesModal.njk' %}
    </div>
</div>
<div class="ra-data-table-bg p-3 pt-4 mt-2 mt-md-5 border-radius-8 ra-property-list dashbaord-main">
    <div class="row">
        <div class="col-md-12">
            <div class="property-data-table-head mb-2">
                <h2 class="fw-500 fz24 text-sm-center">List of Campaign</h2>

                <div class="propert-header-right">
                    <fieldset class="rs-form mr-2">
                        <select class="ra-select min-height-40 form-width fw-700 fz16">
                            <option class="fz18 fw-500" value="platforms" selected>All Platforms</option>
                            <option class="fz18 fw-500" value="youtube">Youtube</option>
                            <option class="fz18 fw-500" value="youtube">Youtube</option>
                            <option class="fz18 fw-500" value="youtube">Youtube</option>
                        </select>
                    </fieldset>
                    <form action="" class="rs-form">
                        <button type="submit" class="position-absolute ra-search-label" for="searchInput">
                            <img src="assets/images/icons/search.svg" alt="Search Icon">
                        </button>
                        <input type="search" class="rs-input min-height-48 pr-5" id="searchInput"
                            placeholder="enter  influncer name">
                    </form>
                </div>
            </div>
            <div class="dataTable table-responsive">
                {% include "snippets/dataTable/influencerDataTable.njk" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}