{% set base = "../" %}
{% extends "layouts/layout.njk" %}

{% block content %}

<div class="influencer-step-form">
    <div class="step-menu mb-5">
        <ul>
            <li class="stepped d-flex" data-ref="influencer-step-1"><span class="mdi mdi-check fz28 fw-700 pr-2"></span> Search Influencer</li>
            <li class="d-flex" data-ref="influencer-step-2"><span class="mdi mdi-check fz28 fw-700 pr-2"></span> Select Influencer</li>
            <li class="d-flex" data-ref="influencer-step-3"><span class="mdi mdi-check fz28 fw-700 pr-2"></span> Details</li>
            <li class="d-flex" data-ref="influencer-step-4"><span class="mdi mdi-check fz28 fw-700 pr-2"></span> Publish</li>
        </ul>
        <div class="progress-bar"><span></span></div>
    </div>

    <div class="step-content">
        <div class="step show" id="influencer-step-1">
            {% include 'sections/influencer/influencerCriteria.njk' %}
        </div>
        <div class="step" id="influencer-step-2">
            {% include 'sections/influencer/selectInfluencer.njk' %}
        </div>
        <div class="step" id="influencer-step-3">
            {% include 'sections/influencer/campaignDetailsForm.njk' %}
        </div>
        <div class="step" id="influencer-step-4">
            {% include 'sections/influencer/influencerPublishConfirm.njk' %}
        </div>
    </div>
</div>

{% endblock %}