{% set base = "../" %}
{% extends "layouts/layout.njk" %}

{% block content %}
<div class="user-wrapper">
   <h2 class="fz24 fw-500 mb-3">ShareTrip: Save Travel Repeat</h2>

   <p class="fz14 fw-500 mb-2 mb-4"
      style="color: #00C66D; border: 1px solid #00C66D; display:inline-block; padding: 3px 10px; border-radius: 200px;">
      Active</p>
   <p class="fz12 fw-500 mb-2 mb-4"
      style="color: #4A6DFF; border: 1px solid #4A6DFF; display:inline-block; padding: 3px 10px; border-radius: 200px;">
      Accepted by Influencer</p>
</div>

<div class="row mt-2 pb-3 pb-md-5">
   <div class="col-md-6">
      <h3 class="fz16 fw-500 mb-2">Influencer</h3>

      <div class="radio-group pr-3 pl-3 pb-2 pt-2 ra-border border-radius-8 influenc-radio-group mb-md-4 mb-3">
         <div class="rs-checkbox d-flex align-items-center">
            <input type="checkbox" name="" class="rs-checkbox-input" id="influencer-1">
            <a href="#" class="fz16 user_img d-flex align-items-center" for="influencer-1">
               <div class="influencer-user">
                  <img src="assets/images/icons/user.svg" alt="Icon">
               </div>

               <div class="d-flex flex-column pl-3">
                  <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
                  <div class="d-flex">
                     <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
                     <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
                  </div>
               </div>
            </a>
         </div>
      </div>

      <h3 class="fz12 fw-400 mb-1 mb-md-2">Campaign Info</h3>
      <span class="fz16 fw-500 mb-1 mb-md-2">ShareTrip: Save Travel Repeat</span>
      <p class="fz14 fw-400 mb-1 mb-md-2">Platform: <span class="fz16 fw-500">Youtube</span></p>
      <p class="fz14 fw-400 mb-1 mb-md-2">Post Type: <span class="fz16 fw-500">Video</span></p>
      <p class="fz14 fw-400 mb-1 mb-md-2">Requested Budget: <span class="fz16 fw-500">৳ 50,000</span></p>
      <a href="#" class="fz16 fw-500 mb-1 mb-md-2"><span class="mdi mdi-play"></span> Video Link</a>

      <h3 class="fz14 fw-400 mb-1 mb-md-2 gray-color">Campaign Text:</h3>
      <p class="fz14 fw-400">
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
         into electronic typesetting, remaining essentially unchanged
      </p>

      <div class="d-flex justify-content-between mt-4 mt-md-5 mb-4 mb-md-5">
         <a href="influencer/influencerAddTab.html" class="rs-btn rs-btn-secondary rs-btn-lg uppercase mr-3"><img
               src="assets/images/icons/edit.svg" style="width:30px; padding-right: 5px;" alt="Icon"> Edit
            Campaign</a>

         <a href="influencer/influencersAccepted.html" class="rs-btn rs-btn-primary rs-btn-lg uppercase">Accept</a>
      </div>

      <form action="" class="mt-2 mt-md-4">
         <div class="p-3 border-radius-8" style="border: 1px solid #D1D1D6">
            <h3 class="fz12 fw-400 mb-2 mb-md-3">Budgget</h3>

            <fieldset class="rs-form influInput w-100" style="padding">
               <label class="rs-label influencer-label">Reqquested Budget</label>
               <input type="text" class="rs-input fw-500 fz18">
               <p class="fz12 fw-400 gray-color mb-3 mb-md-4">Your cost: 2500 + 10% = 2750</p>
            </fieldset>

            <button type="submit" class="rs-btn rs-btn-lg rs-btn-gray-bg uppercase">Update Budget</button>
         </div>
      </form>
   </div>
   <div class="col-md-6">
      <h3 class="fz16 fw-500 mb-2">Comments</h3>

      <div class="ra-border mb-2 mb-md-4" style="background-color: #FAFAFA; padding: 16px; border-radius: 8px;">
         <a href="#" class="fz16 user_img d-flex align-items-center mb-2 mb-md-3" for="influencer-1">
            <div class="influencer-user">
               <img src="assets/images/icons/user.svg" alt="Icon">
            </div>

            <div class="d-flex flex-column pl-3">
               <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
               <div class="d-flex">
                  <span class="fw-400 fz14 dark-gray">12:08 PM, 1st Apr 2021</span>
               </div>
            </div>
         </a>

         <div class="influ-bottom">
            <p class="fz14 fw-400">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy.</p>
         </div>
      </div>
      <div class="ra-border mb-2 mb-md-4" style="background-color: #FAFAFA; padding: 16px; border-radius: 8px;">
         <a href="#" class="fz16 user_img d-flex align-items-center mb-2 mb-md-3" for="influencer-1">
            <div class="influencer-user">
               <img src="assets/images/icons/user.svg" alt="Icon">
            </div>

            <div class="d-flex flex-column pl-3">
               <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
               <div class="d-flex">
                  <span class="fw-400 fz14 dark-gray">12:08 PM, 1st Apr 2021</span>
               </div>
            </div>
         </a>

         <div class="influ-bottom">
            <p class="fz14 fw-400">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy.</p>
         </div>
      </div>
      <div class="ra-border mb-2 mb-md-4" style="background-color: #FAFAFA; padding: 16px; border-radius: 8px;">
         <a href="#" class="fz16 user_img d-flex align-items-center mb-2 mb-md-3" for="influencer-1">
            <div class="influencer-user">
               <img src="assets/images/icons/user.svg" alt="Icon">
            </div>

            <div class="d-flex flex-column pl-3">
               <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
               <div class="d-flex">
                  <span class="fw-400 fz14 dark-gray">12:08 PM, 1st Apr 2021</span>
               </div>
            </div>
         </a>

         <div class="influ-bottom">
            <p class="fz14 fw-400">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy.</p>
         </div>
      </div>

      <form action="">
         <div class="influTextarea">
            <div class="rs-form mb-4">
               <label class="rs-label fz18 fw-500">Your Comment Here</label>
               <input type="text" class="rs-input pr-5">
            </div>

            <button type="submit" class="influActiveArrow"><span class="mdi mdi-arrow-right"></span></button>
         </div>
      </form>
   </div>
</div>


{% endblock %}