{% block content %}

<!--
    Bootstrap Table all class name: table table-striped table-hover table-bordered  table-borderless table-sm
 -->

<table class="property-table balance-table table table-striped table-hover" style="width:100%">

   {% include "snippets/dataTable/balancePartialDataTable.njk" %}
   {% include "snippets/dataTable/balancePartialDataTable.njk" %}
   {% include "snippets/dataTable/balancePartialDataTable.njk" %}
   {% include "snippets/dataTable/balancePartialDataTable.njk" %}
   {% include "snippets/dataTable/balancePartialDataTable.njk" %}

   {% endblock %}