<!-- Bootstrap Table all class name: table table-striped table-hover table-bordered  table-borderless table-sm -->

<table id="overviewDatesDataTable" class="property-table table table-striped table-hover" style="width:100%">
   <thead class="ra-table-head">
   <tr class="table-header-height-for-34">
      <th>Date</th>
      <th>Request</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>Revenues</th>
      <th>CTR</th>
      <th>Fill Rate</th>
      <th>eCPC</th>
      <th>eCPM</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>6 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>7 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>8 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>9 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>10 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr><tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr><tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   <tr>
      <td>5 Oct 2020</td>
      <td>112,110</td>
      <td>95,623</td>
      <td>21</td>
      <td>৳ 453.68</td>
      <td>0.02%</td>
      <td>85.29%</td>
      <td>৳ 21.60</td>
      <td>৳ 4.74</td>
   </tr>
   </tbody>
</table>