{% block content %}
<!--
    Bootstrap Table all class name: table table-striped table-hover table-bordered  table-borderless table-sm
 -->

<table id="finalizedPaymentMonthlyInfoDataTable" class="property-table table table-striped table-hover"
   style="width:100%">
   <thead class="ra-table-head">
      <tr>
         <th>Month</th>
         <th>Source</th>
         <th>Status</th>
         <th>Ad Requests</th>
         <th>Impressions</th>
         <th>Clicks</th>
         <th>CTR</th>
         <th>Revenue</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Paid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>On Processing</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
      <tr>
         <td>JUL 2020</td>
         <td>G&R</td>
         <td>Unpaid</td>
         <td>1,625,790,161</td>
         <td>856,651,740</td>
         <td>148,673</td>
         <td>5.5%</td>
         <td>৳ 1,702,908</td>
      </tr>
   </tbody>
</table>
{% endblock %}