<div class="ra-data-table-bg border-radius-8 ra-property-list">
   <div class="row">
      <div class="col-md-12">
         <div class="dataTable table-responsive">

            {% include "snippets/dataTable/datesData.njk" %}

            <!--Load More Button-->
            {% include "snippets/loadMoreBtn.njk" %}
         </div>
      </div>
   </div>
</div>
