<div class="row">
   <div class="col-md-12">
      <div class="dataTable table-responsive">
         <table id="archievedDataTable" class="display" style="width:100%">
            <thead>
               <tr>
                  <th class="custom-table-head">Campaign Name</th>
                  <th class="custom-table-head">Client</th>
                  <th class="custom-table-head">Duration</th>
                  <th class="custom-table-head">Imprsn.</th>
                  <th class="custom-table-head">Engmt.</th>
                  <th class="custom-table-head">Rating</th>
                  <th class="custom-table-head no-icon">&nbsp;</th>
                  <th class="custom-table-head">Recieved</th>
                  <th class="custom-table-head no-icon">&nbsp;</th>
               </tr>
            </thead>
            <tbody>
               {% for i in range(0, 10) %}
               <tr>
                  <td class="custom-table-data ">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification ">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data ">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data ">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data ">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data ">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data ">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-star mdi mdi-star-outline"><span class="pl-2">5.0</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data ">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <p class="c-title">
                           <span class="fz14 fw-400 gray-light-text-color">You gave <span
                                 class="fw-600">5.0</span></span>
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data ">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <p class="c-title c-archived">
                           18 JUL, 21
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <a href="javascript:void()" class="c-title c-start-campaign active">
                        View Details
                     </a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>