<div class="row">
   <div class="col-md-12">
      <div class="dataTable table-responsive">
         <table id="completedDataTable" class="display" style="width:100%">
            <thead>
               <tr>
                  <th class="custom-table-head">Campaign Name</th>
                  <th class="custom-table-head">Payment</th>
                  <th class="custom-table-head">Client</th>
                  <th class="custom-table-head">Duration</th>
                  <th class="custom-table-head">Imprsn.</th>
                  <th class="custom-table-head">Engmt.</th>
                  <th class="custom-table-head">Rating</th>
                  <th class="custom-table-head no-icon">&nbsp;</th>
                  <th class="custom-table-head no-icon">&nbsp;</th>
               </tr>
            </thead>
            <tbody>
               <tr class="in-table-row active">
                  <td class="custom-table-data">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification active">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <div class="progress c-progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                           <p class="c-title">
                              Ready
                           </p>
                        </div>
                      </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-star mdi mdi-star-outline"><span class="pl-2">5.0</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <p class="c-title">
                           <span class="fz14 fw-400 gray-light-text-color">You gave <span class="fw-600">5.0</span></span>
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-title c-start-campaign active c-datatable-btn">
                        Add to Balance
                     </button>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <div class="progress c-progress">
                        <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                           <p class="c-title">
                              Processing
                           </p>
                        </div>
                      </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-star mdi mdi-star-outline"><span class="pl-2">4.0</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <p class="c-title">
                           <span class="fz14 fw-400 gray-light-text-color">You gave <span class="fw-600">4.0</span></span>
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-title c-start-campaign c-datatable-btn">
                        Add to Balance
                     </button>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <div class="progress c-progress">
                        <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                           <p class="c-title">
                              Pending
                           </p>
                        </div>
                      </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-star mdi mdi-star-outline"><span class="pl-2">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <p class="c-title">
                           <span class="fz14 fw-400 gray-light-text-color">You gave <span class="fw-600">0.0</span></span>
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-title c-start-campaign c-datatable-btn">
                        Add to Balance
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>