<div class="dashbaord-main">
   <div class="row">
      <div class="col-md-12">
         <div class="dataTable table-responsive">
            <table id="myCampaignDatatTable" class="display" style="width:100%">
               <thead>
                  <tr>
                     <th class="custom-table-head">Campaign Name</th>
                     <th class="custom-table-head">Type</th>
                     <th class="custom-table-head">Client</th>
                     <th class="custom-table-head">Will Start</th>
                     <th class="custom-table-head">Budget</th>
                     <th class="custom-table-head">Category</th>
                     <th class="custom-table-head">Dealed</th>
                     <th class="custom-table-head no-icon">&nbsp;</th>
                     <th class="custom-table-head no-icon">&nbsp;</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                  </tr>
                  <tr>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                     <td class="custom-table-data active">a</td>
                  </tr>
                  <tr>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                  </tr>
                  <tr>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                     <td class="custom-table-data">a</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>