<div class="row">
   <div class="col-md-12">
      <div class="dataTable table-responsive">
         <table id="ongoingDataTable" class="display" style="width:100%">
            <thead>
               <tr>
                  <th class="custom-table-head">Campaign Name</th>
                  <th class="custom-table-head">Link</th>
                  <th class="custom-table-head">Client</th>
                  <th class="custom-table-head">Strted on</th>
                  <th class="custom-table-head">End Time</th>
                  <th class="custom-table-head">Imprsn.</th>
                  <th class="custom-table-head">Engmt.</th>
                  <th class="custom-table-head no-icon">&nbsp;</th>
                  <th class="custom-table-head no-icon">&nbsp;</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification active">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">08:59 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <div class="c-message-icon active">
                           <span class="mdi mdi-message-outline"></span>
                        </div>
                        <p class="c-title active">
                           12
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title c-start-campaign active">
                        Start Campaign
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification active">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">08:59 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <div class="c-message-icon active">
                           <span class="mdi mdi-message-outline"></span>
                        </div>
                        <p class="c-title active">
                           12
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title c-start-campaign active">
                        Start Campaign
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification active">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">08:59 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <div class="c-message-icon active">
                           <span class="mdi mdi-message-outline"></span>
                        </div>
                        <p class="c-title active">
                           12
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title c-start-campaign active">
                        Start Campaign
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">08:59 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <div class="c-message-icon">
                           <span class="mdi mdi-message-outline"></span>
                        </div>
                        <p class="c-title">
                           12
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title c-start-campaign">
                        Start Campaign
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">08:59 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <div class="c-message-icon">
                           <span class="mdi mdi-message-outline"></span>
                        </div>
                        <p class="c-title">
                           12
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title c-start-campaign">
                        Start Campaign
                     </p>
                  </td>
               </tr>
               <tr>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="notification">
                           <div class="c-user-img">
                              <img src="https://via.placeholder.com/300" class="img" alt="Campaign Holder Image">
                           </div>
                        </div>
                        <p class="c-title">
                           Blendtec: Will It Blend Campaign
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Shafayat
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">17 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">08:59 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <button class="c-message-wrapper d-flex align-items-center border-0 bg-transparent">
                        <div class="c-message-icon">
                           <span class="mdi mdi-message-outline"></span>
                        </div>
                        <p class="c-title">
                           10
                        </p>
                     </button>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title c-start-campaign">
                        Start Campaign
                     </p>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>