<div class="d-flex space-between">
  <form action="" class="rs-form">
    <button type="submit" class="position-absolute searchIcon" for="searchInput">
        <img src="assets/images/icons/search.svg" alt="Search Icon">
    </button>
    <input type="search" class="rs-input min-height-48 pr-5" id="searchInput"
        placeholder="enter property name">
  </form>
</div>

