<div class="ra-activity-log-wrapper mt-2 mb-2 p-3 border-radius-8">
    <div class="acitivity-icon-wrapper d-flex justify-content-center align-items-center">
       <div class="activity-icon">
          <img src="assets/images/icons/icon.svg" alt="Acitvity Icon">
       </div>
    </div>
    <div class="ra-activity-log-text pl-5 ml-4">
       <span class="fz16 fw-400">Desktop ad place Mobile <a href="#" target="_blank" class="fw-700">Banner - 320x50 px</a> has been updated by <a href="#" target="_blank" class="fw-700">Sarmin Akhtar Sonali</a> from <a href="#" target="_blank"  class="fw-700">Green and Red Technologies Limited.</a></span>
       <p class="gray-color fz12 fw-400">Wed, 04 Dec 2019, 12:16:06</p>
    </div>
 </div>