<div class="d-card d-flex">
   <div class="user-wrapper">
       <div class="user_img">
           <label for="user_img">
               <!-- <span class="fz52 mdi mdi-flip-h mdi-account-plus"></span> -->
               <img src="../../assets/images/icons/add-user.svg" alt="User Image" />
           </label>
           <input type="file" id="user_img" class="d-none">
       </div>
   </div>
   <div class="user-wrapper">
       <h2 class="fz28 fw-700 mb-3">Add New User</h2>

       <p class="fz12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>

       <div class="user_btn mt-3">
           <label for="user_img" class="rs-btn rs-btn-lg rs-btn-primary uppercase fz20"><span class="mdi mdi-plus-thick"></span> Add</label>
           <input type="file" id="user_img" class="d-none">
       </div>
   </div>
</div>