<div class="ad_dashboard p-3 accountSettingSnippetBg mb-2">
   <h3 class="fz28 fw-500">Advertiser Dashboard</h3>
   <p class="fz13 mt-2"></p>Active Campaign <span class="fz14 fw-700">5</span></p>

   <a href="#" class="rs-btn rs_btn_profile rs-btn-primary rs-btn-lg uppercase mt-4">Go To Dashboard</a>
</div>