<div class="ad_dashboard p-3 accountSettingSnippetBg mb-2">
   <h3 class="fz28 fw-500">Change Account Password</h3>
   <p class="fz13 mt-2">Change Your Account Password</p>

   <a href="#" class="rs-btn rs_btn_profile rs-btn-primary rs-btn-lg uppercase mt-4">Change Password</a>
</div>