<div class="d-card p-3 mb-3">
   <h3 class="fz20 fw-500">Change Account Password</h3>
   <p class="fz12 fw-400 mt-2">Change Your Account Password</p>

   <!-- <a href="#" class="rs-btn rs_btn_profile rs-btn-primary rs-btn-lg uppercase mt-4">Change Password</a> -->
   <button type="button" class="fz20 fit-content rs-btn rs-btn-primary rs-btn-lg uppercase mt-4" data-toggle="modal" data-target="#changePassword">Change Password</button>

   {% include 'snippets/modals/changePassword.njk' %}
</div>