<div class="location-info mb-3">
    <p class="fz20 fw-500 mb-1">Bangladesh</p>
    <div class="row">
        <div class="col">
            <p class="fz12 gray-color">Today</p>
            <div class="d-flex align-items-center">
                <p class="fz14 fw-500">35.4 K</p>
            </div>
        </div>
        <div class="col">
            <p class="fz12 gray-color">Est. m/m Growth</p>
            <div class="d-flex align-items-center">
                <p class="fz14 fw-500">26.5% </p>
                <i class="mdi mdi-menu-up green-color fz24 lh-1 d-flex green-color"></i>
            </div>
        </div>
    </div>
</div>