<div class="payment_account ad_dashboard p-3 accountSettingSnippetBg mt-3 mr-3">
   <h3 class="fz28 fw-500">Payment Account</h3>
   <p class="fz13 mt-2 fz12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum autem id odit a magnam temporibus.</p>

   <div class="payment_option d-flex flex-wrap pb-3 mt-4">
      <div class="payment_item">
         <button type="button" class="p-4 mr-3" data-toggle="modal" data-target="#editPaymentAccount"><span class="mdi mdi-plus-thick fz44"></span></button>
         <p class="fz13 mt-2 fz12">Payment Option</p>
      </div>
      <div class="payment_item">
         <button type="button" class="p-4 mr-3" data-toggle="modal" data-target="#editPaymentAccount"><span class="mdi mdi-plus-thick fz44"></span></button>
         <p class="fz13 mt-2 fz12">Payment Option</p>
      </div>
      <div class="payment_item">
         <button type="button" class="p-4 mr-3" data-toggle="modal" data-target="#addPaymentOption"><span class="mdi mdi-plus-thick fz44"></span></button>
         <p class="fz13 mt-2 fz12">Add Payment Option</p>
      </div>

      {% include 'snippets/modals/addPaymentOption.njk' %}
      {% include 'snippets/modals/editPaymentAccount.njk' %}
   </div>
</div>