<div class="d-card mr-lg-3">
   <h3 class="fz24 fw-500">Payment Account</h3>
   <p class="mt-2 fz12 pt-1 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum autem id odit a magnam temporibus.</p>

   <div class="d-flex pb-3 mt-4 text-center">
      <div class="payment_item mr-3">
         <button type="button" class="rs-btn radius_8 payment-btn" data-toggle="modal" data-target="#editPaymentAccount"><span><img src="assets/images/icons/bdt.svg" alt="BDT Icon"></span></button>
         <p class="mt-2 fz12">Payment Option</p>
      </div>
      <div class="payment_item mr-3">
         <button type="button" class="rs-btn radius_8 payment-btn" data-toggle="modal" data-target="#editPaymentAccount"><span><img src="assets/images/icons/bdt.svg" alt="BDT Icon"></span></button>
         <p class="mt-2 fz12">Payment Option</p>
      </div>
      <div class="payment_item mr-3">
         <button type="button" class="rs-btn dashed_border radius_8 payment-btn" data-toggle="modal" data-target="#addPaymentOption">
            <span><img src="assets/images/icons/plus.svg" alt="BDT Icon"></span>
         </button>
         <p class="fz13 mt-2 fz12">Add Payment Option</p>
      </div>

      {% include 'snippets/modals/addPaymentOption.njk' %}
      {% include 'snippets/modals/editPaymentAccount.njk' %}
   </div>
</div>