<div class="payment_account ad_dashboard p-3 accountSettingSnippetBg mt-3 mr-3">
   <h3 class="fz28 fw-500">Payment Account</h3>
   <p class="fz13 mt-2 fz12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laborum autem id odit a magnam temporibus.</p>

   <div class="payment_option d-flex flex-wrap pb-3 mt-4">
      <div class="payment_item">
         <input type="file" id="add_payment_one" class="d-none">
         <label class="p-4 fz44 mr-3" for="add_payment_one"><span class="mdi mdi-plus-thick"></span></label>
         <p class="fz13 mt-2 fz12">Payment Option</p>
      </div>
         <div class="payment_item">
         <input type="file" id="add_payment_one" class="d-none">
         <label class="p-4 fz44 mr-3" for="add_payment_one"><span class="mdi mdi-plus-thick"></span></label>
         <p class="fz13 mt-2 fz12">Payment Option</p>
      </div>
      <div class="payment_item">
         <input type="file" id="add_payment_one" class="d-none">
         <label class="p-4 fz44 mr-3 dashed_border" for="add_payment_one"><span class="mdi mdi-plus-thick"></span></label>
         <p class="fz13 mt-2 fz12">Add Payment Option</p>
      </div>
   </div>
</div>