
<div class="result-card">
   <div class="result-icon">
      <img src="{{data.img}}" alt="icon">
   </div>
   <div class="result-detials">
      <p class="fz12 fw-500">{{data.title}}</p>
      <span class="fz18 fw-700">{{data.amount}}</span>
   </div>
</div>