<div class="filter-wrapper mb-1 mb-md-2 mt-2 mt-md-0">
  <form action="" class="rs-form custom-form d-flex justify-content-between align-items-center mb-md-0 mb-3">
    <button type="submit" class="position-absolute search-icon border-0 bg-transparent pl-3" for="searchInput">
      <span class="mdi mdi-magnify search-img gray-light-text-color fz20"></span>
    </button>
    <input type="search" class="rs-input border-0 ra-data-table-bg gray-light-text-color fz14 fw-500 min-hieght-36 pl-5"
      id="searchInput" placeholder="{{ data.searchTitle }}">
  </form>

  <div class="search-right d-flex align-items-center justify-content-center">
    <div class="mr-1 mr-md-3">
      <button class="serach-number border-0 fw-500 d-flex align-items-center min-hieght-36">
        <p class="fz14"><span>1</span>-<span>4</span></p>
      </button>
    </div>
    <div class="ra-filter mr-1 mr-md-3">
      <div class="dropdown search-common">
        <button class="search-filter border-0 radius-5 d-flex gray-light-bg-color fw-500 d-flex align-items-center min-hieght-36"
          type="button" id="serach-filter" data-toggle="dropdown" aria-haspopup="true">
          <span class="mdi mdi-filter-outline fz20 pr-2"></span>
          <p class="fz14">Filter By</p>
          <span class="mdi mdi-chevron-up fz20 pl-2"></span>
        </button>
        <div class="dropdown-menu search-dropdown" aria-labelledby="serach-filter">
          <a class="dropdown-item" href="#">Campaign Name</a>
          <a class="dropdown-item" href="#">Type</a>
          <a class="dropdown-item" href="#">Budget</a>
          <a class="dropdown-item" href="#">Category</a>
        </div>
      </div>
    </div>
    <div class="ra-filter">
      <div class="dropdown search-common">
        <button class="search-filter border-0 radius-5 d-flex gray-light-bg-color fw-500 d-flex align-items-center min-hieght-36"
          type="button" id="serach-filter" data-toggle="dropdown" aria-haspopup="true">
          <span class="mdi mdi-sort-descending fz20 pr-2"></span>
          <p class="fz14">Sort By</p>
          <span class="mdi mdi-chevron-up fz20 pl-2"></span>
        </button>
        <div class="dropdown-menu search-dropdown" aria-labelledby="serach-filter">
          <a class="dropdown-item" href="#">Campaign Name</a>
          <a class="dropdown-item" href="#">Type</a>
          <a class="dropdown-item" href="#">Budget</a>
          <a class="dropdown-item" href="#">Category</a>
        </div>
      </div>
    </div>
  </div>
</div>