<div class="dropdown dot-dropdown">
   <button type="button" class="topbar-notification" id="topbarDropdown" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <img src="assets/images/icons/notification_outline.svg" alt="Bell Icon">
   </button>
   <div class="dropdown-menu filter-dropdown" aria-labelledby="topbarDropdown">
      <a class="dropdown-item" href="#">Demo Text 1</a>
      <a class="dropdown-item" href="#">Demo Text 2</a>
      <a class="dropdown-item" href="#">Demo Text 3</a>
      <a class="dropdown-item" href="#">Demo Text 4</a>
   </div>
</div>

<div class="right-menu dropdown ml-4">
   <a href="javascript:void(0)" class="account-menu d-flex align-items-center dropdown-toggle" type="button"
      id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="avater">
         <p class="">S</p>
         <div class="d-none">
            <img src="http://via.placeholder.com/48x48" alt="Icon">
         </div>
      </div>
      <div class="acc-name">Shafayat</div>

      <button class="dropdown-icon">
         <img src="assets/images/icons/arrow-down.svg" alt="Icon" style="width: 8px;">
      </button>
   </a>
   <div class="dropdown-menu dropdown-menu2" aria-labelledby="dropdownMenuButton2">
      <ul>
         <li><a href="accountSettings.html">Account Settings</a></li>
         <li><a href="index2.html">Advertiser Dashboard</a></li>
         <li><a href="">বাংলা ভাষা নির্বাচন</a></li>
         <li><a href="">Take a Tour</a></li>
         <li><a href="login.html">Logout</a></li>
      </ul>
   </div>
</div>