/*--------------------------------------------------------------
#2.1 Theme Colors
--------------------------------------------------------------*/
<<<<<<< HEAD
.accountSettingSnippetBg{
   background-color: #ECEEF3;
=======
.gray-color{
    color: $darkGray;
}

.green-color{
    color: #72BF44;
}
.red-color{
    color: #ED1C24;
}

.black-color{
    color: $black;
>>>>>>> f9c080c92269fe05b5b7bba8c9e60eff088813f9
}