.payment_option label {
   background: #ffff;
   border-radius: 5px;
   cursor: pointer;
}

.dashed_border {
   border-style: dashed !important;
   border-color: #000 !important;
}

.payment_item label {
   border: 3px solid transparent;
}

.payment_item button {
   background-color: #fff;
   border-color: transparent;
   border-radius: 5px;
}

.payment_item {
   text-align: center;
}