.mt-8vh {
    margin-top: 8vh;
}

.px-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.line-hieght {
    line-height: 100%;
}

.min-height-36 {
    min-height: 36px !important;
}

.min-height-32 {
    min-height: 32px !important;
}

.min-height-28 {
    min-height: 28px !important;
}

.min-vh-100 {
    min-height: 100vh;
}

.height-32 {
    height: 32px;
}

.height-43 {
    height: 43px;
}

.min-height-40 {
    min-height: 40px !important;
}

.min-height-48 {
    min-height: 48px !important;
}

.p-0x32 {
    padding: 0px 32px;
}

.p-16x20 {
    padding: 16px 20px;
}

.p-0x20 {
    padding: 0px 20px;
}

.p-8x20 {
    padding: 8px 20px;
}

.p-0x12 {
    padding: 0px 12px;
}

.p-2x8 {
    padding: 2px 8px;
}

.p-10x20 {
    padding: 10px 20px;
}

.p-6x16 {
    padding: 6px 16px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-12 {
    padding-left: 12px;
}

.pb-16 {
    padding-bottom: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mr-12 {
    margin-right: 12px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-28 {
    margin-bottom: 28px;

    @media screen and(max-width: 767px) {
        margin-bottom: 16px;
    }
}

.m-20 {
    margin: 20px;
}

.border-bottom-purpleLight3 {
    border-bottom: 1px solid $purpleLight3;
}