.user_img{
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 96px;
   height: 96px;
   border-radius: 50%;
}

.user_btn .rs-btn {
   display: inline-flex !important; 
}

