<div class="row">
   <div class="col-md-12">
      <div class="dataTable table-responsive radius-4">
         <table id="createCampaignDataTable" class="display" style="width:100%">
            <thead>
               <tr>
                  <th class="custom-table-head">
                     {% include "snippets/myDeals/checkBoxHead.njk" %}
                     <p>Campaign Name</p>
                  </th>
                  <th class="custom-table-head">Status</th>
                  <th class="custom-table-head">Influencer</th>
                  <th class="custom-table-head">Budget</th>
                  <th class="custom-table-head">Imprsn.</th>
                  <th class="custom-table-head">Engmt.</th>
                  <th class="custom-table-head">CPE</th>
                  <th class="custom-table-head">CTR</th>
                  <th class="custom-table-head">Created </th>
               </tr>
            </thead>
            <tbody>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              Blendtec:  Will It Blend Campaign
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Scheduled
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Raba Khan</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500 post-black">Post </span>22 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color"></span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              Blendtec:  Will It Blend Campaign
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star checked"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Ongoing
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Tahsan Khan</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500 post-blue">Story </span>6 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color"></span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">5,087</span>
                        <span class="fz12 fw-400 gray-light-text-color">2.56%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date">৳ <span class="fz14 fw-500">2.4</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date">৳ <span class="fz14 fw-500">5.2</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              State Bicycle Co: 12 Days of State
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star unseen checked"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Completed
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Rafayet</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500 post-blue">Story </span>22 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color"></span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,123</span>
                        <span class="fz12 fw-400 gray-light-text-color">9.26%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">5,087</span>
                        <span class="fz12 fw-400 gray-light-text-color">2.56%</span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date">৳ <span class="fz14 fw-500">2.4</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date">৳ <span class="fz14 fw-500">5.2</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              Qdoba: Queso Bliss Contest
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Pending
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Annette Black</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500">Post </span>22 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color">Proposed</span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              Qdoba: Queso Bliss Contest
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Pending
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Annette Black</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500">Post </span>22 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color">Proposed</span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              Qdoba: Queso Bliss Contest
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Pending
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Annette Black</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500">Post </span>22 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color">Proposed</span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
               <tr class="in-table-row">
                  <td class="custom-table-data d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <div class="d-flex justify-content-between w-100">
                        <a href="#" class="d-flex align-items-center">
                           <p class="c-title">
                              Qdoba: Queso Bliss Contest
                           </p>
                        </a>
                        <span class="mdi mdi-star campaign-star"></span>
                     </div>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" class="btn-4x12 radius-4">
                        Pending
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <a href="#" target="_blank" class="w-100">
                        <div class="ra-progress-item custom">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz14 fw-500 black-color pr-1">Annette Black</p>
                              </div>
                              <div class="ra-brand-name-subtitle">
                                 <p class="fz12 gray-light-text-color fw-400 pr-1"><span class="fw-500">Post </span>22 Jun, 21</p>
                                 <span class="green-dot"></span>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">50,000 <span class="fz12 fw-400 gray-light-text-color">Proposed</span></p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">-</span>
                        <span class="fz12 fw-400 gray-light-text-color"></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column">
                        <span class="fz20 fw-600 c-date"><span class="fz14 fw-500">-</span></span>
                     </p>
                  </td>
                  <td class="custom-table-data">
                     <p class="c-title d-flex flex-column fw14 fw-500">
                        Shafayat
                        <span class="fz12 fw-400 gray-light-text-color">6 Jun, 21</span>
                     </p>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>