<div class="ra-border-top">
   <div class="c-row">
      <div class="c-col">
         <div class="ra-progress">
            <div class="ra-progress-top">
               <div class="d-flex">
                  <a href="#" class="d-flex">
                     <button class="arrow-backward mr-20 border-0 bg-transparent">
                        <img src="assets/images/icons/arrow-backward.svg" alt="Arrow Icon">
                     </button>
                     <p class="fz16 fw-500 black-color">Back to Influencers</p>
                  </a>
               </div>
               {% include 'snippets/threeDot.njk' %}
            </div>
   
            <div class="limit-notification p-8x20">
               <p class="fz14 fw-400">You can connect 4 more Influencers</p>
               <button class="fz14 fw-500 border-0 bg-transparent">Select</button>
            </div>
   
            <div class="limit-box p-8x20 text-center">
               <p class="fz14 fw-400">You’ve reached the limit of 5 Influencers</p>
            </div>
   
            <button class="chat-msg msg-dark-bg w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex">
                           <p class="fz16 fw-600 black-color pr-1">Raba Khan</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">Just Now</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">You offered BDT 12,000 to Raba</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
   
            <button class="chat-msg msg-dark-bg msg-dot w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex">
                           <p class="fz16 fw-600 black-color pr-1">Pari</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">6 hr</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">Pari is interested to your offer</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
   
            <button class="chat-msg msg-white-bg w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex">
                           <p class="fz16 fw-600 black-color pr-1">Ayman Sadiq</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">Just Now</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">You offered BDT 12,000 to Raba</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
   
            <button class="chat-msg msg-light-bg w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex">
                           <p class="fz16 fw-600 black-color pr-1">Shakib al Hasan</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">6 hr</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">You raised the offer to BDT 25,000</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
   
            <button class="chat-msg msg-light-bg msg-blur w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex">
                           <p class="fz16 fw-600 black-color pr-1">Tahsan Khan</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">6 hr</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">Tahsan is not interested to your Proposal</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
   
            <button class="chat-msg msg-light-bg msg-blur w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex">
                           <p class="fz16 fw-600 black-color pr-1">Rafayet</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">6 hr</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">Tahsan is not interested to your Proposal</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
   
            <button class="chat-msg msg-interest msg-dot w-100 border-0">
               <div class="ra-progress-item">
                  <div class="progress-user-status">
                     <div class="ra-progress-user">
                        <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                     </div>
                  </div>
   
                  <div class="ra-progress-body">
                     <div class="ra-brand-name-title">
                        <div class="d-flex align-items-center">
                           <p class="fz16 fw-600 black-color pr-1">Raba Khan</p>
                           <p class="msg-btn p-2x8 radius-4 fz12 fw-500">Interested</p>
                        </div>
                        <p class="fz12 fw-400 gray-light-text-color ra-time">Just Now</p>
                     </div>
                     <div class="ra-brand-name-subtitle">
                        <p class="fz14 msg-short pr-1">James Bond is interested to your offer</p>
                        <span class="green-dot"></span>
                     </div>
                  </div>
               </div>
            </button>
         </div>
      </div>
      <div class="c-col">
         <div class="ra-border-left ra-border-right">
            <div class="ra-progress-top">
               <p class="fz20 fw-600 black-color">Raba Khan</p>
               {% include 'snippets/threeDot.njk' %}
            </div>
            <div class="chat-wrapper">
               <div class="chat-top">
                  <form action="#" class="rs-form ra-form offer-input-box p-16x20 d-none">
                     <p class="fz14 fw-400 black-color mb-16">You have added Raba to chat. Let her Know your offer first to
                        connect. She’ll respond once she reviews it.</p>
   
                     <div class="msg-input">
                        <label for="offerAmount" class="offer-label fz13 fw-500 gray-light-text-color m-0">BDT</label>
                        <input type="text"
                           class="rs-input ra-input ra-input-border-primary offer-input gray-light-text-color fz14 fw-400"
                           name="offerAmount" id="mydealsmsg" placeholder="Minimum offer stands at 10,000">
                        <button type="submit" class="rs-btn ra-btn ra-btn-dark-bg blur ml-2">Offer</button>
                     </div>
                  </form>
   
                  <div class="offer-details p-16x20 mb-1">
                     <p class="fz14 fw-400 black-color mb-16">We’ve sent your offer of BDT 12,000 for this campaign to
                        Raba. Please wait while she responds to this.</p>
                     <button class="rs-btn ra-btn ra-btn-dark-bg ra-btn-10x20 w-100">Offered 12,000 BDT</button>
                  </div>
   
                  <div class="offer-details p-16x20 mb-16 text-center">
                     <h4 class="fz18 fw-600 black-color mb-2">Brand Name: 40% Sale Offer</h4>
                     <p class="fz12 fw-500 gray-light-text-color">Instagram Story | Sales Promotion | 18 June, 21</p>
                     <span class="fz16 fw-600 black-color mb-3 d-block">Offered 12,000 BDT</span>
                     <div class="d-flex justify-content-center btn-custom">
                        <button class="ra-btn ra-btn-light-grey ra-btn-8x16 fz15 fw-500" type="button">Update Offer</button>
                        <button class="ra-btn ra-btn-dark-bg ra-btn-8x16 fz15 fw-500" type="button">View Proposal</button>
                     </div>
                     <div class="d-flex justify-content-center btn-custom">
                        <button class="ra-btn ra-btn-dark-bg ra-btn-8x16 fz15 fw-500" data-toggle="modal"
                        data-target="#makeTheDealModal" type="button">Make the Deal</button>
                     </div>
                  </div>
   
                  <!-- Modal -->
                  {% include 'snippets/modals/makeTheDealModal.njk' %}
   
                  <div class="text-center">
                     <p class="fz14 fw-400 darkPrimaryColor">You’ve invited Raba to Connect and sent an offer</p>
                     <span class="fz12 fw-500 gray-light-text-color mb-16 d-block">8:05 PM</span>
                  </div>
   
                  <div class="text-center">
                     <p class="fz14 fw-400 darkPrimaryColor">Raba accepts connection request. You can send messages to each
                        other now</p>
                     <span class="fz12 fw-500 gray-light-text-color mb-16 d-block">8:07 PM</span>
                  </div>
   
                  <div class="text-center">
                     <p class="fz14 fw-400 blue-color">Raba is interested to your offer</p>
                     <span class="fz12 fw-500 gray-light-text-color mb-16 d-block">8:08 PM</span>
                  </div>
                  <div class="chat-content">
                     <p class="fz14 fw-400 chat-text sent">Hi! Could you raise the budget by 2k?</p>
                     <p class="fz14 fw-400 chat-text recieved">ok</p>
                     <p class="fz14 fw-400 chat-text recieved">I’m Updating the Budget to 22K</p>
                     <p class="fz14 fw-400 chat-text sent">Hi! Could you raise the salary?</p>
                     <p class="fz14 fw-400 chat-text recieved">OOps!!!</p>
                     <p class="fz14 fw-400 chat-text recieved">I did it by Thanos time stone</p>
                     <p class="fz14 fw-400 chat-text recieved">Hehe</p>
                     <p class="fz14 fw-400 chat-text sent">Ok.... </p>
                     <p class="fz14 fw-400 chat-text sent">What is Lorem Ipsum?
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>

                  <div class="text-center">
                     <p class="fz14 fw-400 darkPrimaryColor">Shafayat raised the offer to BDT 22,000</p>
                     <span class="fz12 fw-500 gray-light-text-color mb-16 d-block">8:07 PM</span>
                  </div>
               </div>
   
               <div>
                  <form action="#" class="rs-form ra-form">
                     <div class="msg-input p-16x20">
                        <input type="text"
                           class="rs-input ra-input ra-input-border-primary min-height-40 gray-light-text-color fz14 fw-400"
                           name="mydealsmsg" id="mydealsmsg" placeholder="Write your message">
                        <button type="submit" class="rs-btn ra-btn ra-btn-dark-bg blur ml-2">Send</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="c-col">
         <div class="influencer-info">
            <h2>UI design are not ready yet</h2>
            <!-- <div class="influencer-image-wrapper">
               <div class="cover-image">
                  <img src="https://via.placeholder.com/150" alt="Cover Photo">
               </div>
               <div class="profile-image">
                  <img src="https://via.placeholder.com/150" alt="Profile Image">
               </div>
            </div>
   
            <div class="influencer-content-details">
               <h3 class="fz16 fw-600">Raba Khan</h3>
            </div> -->
         </div>
      </div>
   </div>
</div>