<p class="fz14 fw-400 black-color pb-20">Lorem Ipsum has been the industry's standard dummy text ever since
   the 1500s, when an unknown printer took. Lorem Ipsum has been the industry's standard dummy text.</p>

<fieldset class="mb-28">
   <div class="img-video">
      <label for="imageVideo">
         <img src="assets/images/icons/img-video.svg" class="mb-2" alt="Image Video Icon">
         <p class="fz14 fw-400">Drop photos/video here, or <span class="fz14 fw-600">Browse</span></p>
      </label>
      <input type="file" class="d-none" name="imageVideo" id="imageVideo">
   </div>
</fieldset>

<div class="mb-28">
   <p class="fz14 fw-600 mb-12 black-color">Provide a Link (if any)</p>
   <fieldset class="rs-form ra-form">
      <label for="contentLink" class="rs-label ra-label">EG. Brand Name: 40% Sale Offer</label>
      <input type="url" class="rs-input ra-input" id="contentLink">
   </fieldset>
</div>

<div class="mb-28">
   <p class="fz14 fw-600 mb-12 black-color">Insta handles to Include in the post (if any)</p>
   <div class="d-flex align-items-center">
      <span class="at-icon">
         <img src="assets/images/icons/at.svg" alt="Icon">
      </span>
      <fieldset class="rs-form ra-form w-100">
         <label for="instaLink" class="rs-label ra-label">Add Handles - press ENTER to confirm</label>
         <input type="text" class="rs-input ra-input" id="instaLink">
      </fieldset>
   </div>
</div>

<div class="mb-28">
   <p class="fz14 fw-600 mb-12 black-color">Tags to Include in the post (if any)</p>
   <div class="d-flex align-items-center">
      <span class="at-icon">
         <img src="assets/images/icons/hash.svg" alt="Icon">
      </span>
      <fieldset class="rs-form ra-form w-100">
         <label for="tagsInclude" class="rs-label ra-label">Add Tags - press ENTER to confirm</label>
         <input type="text" class="rs-input ra-input" id="tagsInclude">
      </fieldset>
   </div>
</div>

<div class="d-flex justify-content-center btn-custom">
   <button class="ra-btn  draft-btn fz15 fw-500" type="button">Previous</button>
   <button class="ra-btn ra-btn-dark-bg draft-btn fz15 fw-500" type="button">Next</button>
</div>