<p class="fz14 fw-400 black-color pb-20">Lorem Ipsum has been the industry's standard dummy text ever since
   the 1500s, when an unknown printer took. Lorem Ipsum has been the industry's standard dummy text.</p>
<div class="draft-brand-tag">
   <h3 class="fz14 fw-600 black-color mb-12">What do you want to Promote?</h3>
   <div class="promotion-tag">
      <button class="fw-400 promotion-tag-btn ra-btn-border">Brand</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Campaign</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Event</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Movie</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Product</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Service</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Hotel</button>
      <button class="fw-400 promotion-tag-btn ra-btn-border">Restaurant</button>
   </div>
</div>

<div class="promotion-start-form">
   <h3 class="fz14 fw-600 black-color mb-12">When do you want to start the Promotion?</h3>
   <div class="promotion-input">
      <div class="row">

         <div class="col-md-6">
            <div class="input-group custom-date-time rs-form mb-20">
               <label class="fz14 fw-400 gray-light-text-color rs-label" for="promotionInputDate">Select date</label>
               <input type="date" class="form-control custom-form-control rs-input" id="promotionInputDate">
            </div>
         </div>

         <div class="col-md-6">
            <div class="input-group custom-date-time rs-form mb-20">
               <label class="fz14 fw-400 gray-light-text-color rs-label" for="promotionInputTime">Select Time</label>
               <input type="time" class="form-control custom-form-control rs-input" id="promotionInputTime">
            </div>
         </div>
      </div>
   </div>
</div>

<div class="brief">
   <h3 class="fz14 fw-600 black-color mb-12">Brief a short brief on your Promotion</h3>

   <div class="brief-content">
      <textarea class="fz14 fw-400" name="brief" id="briefText" placeholder="# Describe your Campaign 
# Give an idea of how the content should look like 
# What is the key message that you want the influencers to promote"></textarea>
   </div>
</div>

<div class="d-flex justify-content-center">
   <button class="ra-btn ra-btn-dark-bg draft-btn fz15 fw-500" type="submit">Next</button>
</div>