<div class="row mb-16 influencer-select">
   <div class="col-md-7">
      <h3 class="fz18 fw-600 black-color">Select Influencers to Connect</h3>
      <p class="fz14 fw-400 black-color pb-20">We have found 16 influencers that matches your campaign parameters.
         Select upto 5 influencers from this list to connect.
         You CAN NOT edit this campaign once you start connecting with them.</p>
   </div>

   <div class="col-md-5 influencer-select-btn">
      <button class="ra-btn ra-btn-dark-bg ra-btn-8x11 fz15 fw-500" type="button">View Campaign</button>
   </div>
</div>

<div class="row mb-16 connect-influencer">
   <div class="col-md-7">
      <p class="fz14 fw-400 pb-20">You have selected 1 Influencer</p>
   </div>

   <div class="col-md-5 influencer-connect-btn">
      <button class="ra-btn ra-btn-dark-bg ra-btn-8x16 fz15 fw-500" data-toggle="modal" data-target="#publishConnectModal" type="button">Connect Influencers</button>
   </div>
</div>

<!-- Modal -->
{% include 'snippets/modals/publishConnectModal.njk' %}

<div class="row">
   <div class="col-md-12">
      <div class="dataTable table-responsive">
         <table id="connectRequestsDataTable" class="display" style="width:100%">
            <thead>
               <tr>
                  <th class="custom-table-head d-flex align-items-center">
                     <label class="checkbox-wrapper d-block">
                        <input type="checkbox">
                        <span class="checkmark checkmark-remove"></span>
                     </label>
                     <p>Influencer Name</p>
                  </th>
                  <th class="custom-table-head">Follower</th>
                  <th class="custom-table-head">Age</th>
                  <th class="custom-table-head">Gender</th>
                  <th class="custom-table-head">Location</th>
                  <th class="custom-table-head">Avg. Budget</th>
                  <th class="custom-table-head">Avg. Imprsn.</th>
                  <th class="custom-table-head no-icon">Avg. Engmt.</th>
               </tr>
            </thead>
            <tbody>
               <tr class="in-table-row">
                  <td class="custom-table-data active d-flex align-items-center">
                     {% include "snippets/myDeals/checkBox.njk" %}

                     <a href="#" class="w-100">
                        <div class="ra-progress-item social-details">
                           <div class="progress-user-status">
                              <div class="ra-progress-user">
                                 <img src="https://via.placeholder.com/300" class="img" alt="User Image">
                              </div>
                              <div class="ra-progress-social">
                                 <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
                              </div>
                           </div>
            
                           <div class="ra-progress-body">
                              <div class="ra-brand-name-title">
                                 <p class="fz16 fw-600 black-color pr-1">Raba Khan</p>
                              </div>
                           </div>
                        </div>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#" class="d-flex align-items-center">
                        <div class="c-social-img">
                           <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img"
                              alt="Social Icon">
                        </div>
                        <p class="c-title c-ongoing-title">
                           FB Post
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <a href="#">
                        <p class="c-title d-flex flex-column">
                           Brand
                           <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                        </p>
                     </a>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        Kashef
                        <span class="fz12 fw-400 gray-light-text-color">BDT 50,000</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">24 JUL, 21</span>
                        <span class="fz12 fw-400 gray-light-text-color">09:00 PM</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">20,000</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <p class="c-title d-flex flex-column">
                        <span class="fz14 fw-500 c-date">5</span>
                     </p>
                  </td>
                  <td class="custom-table-data active">
                     <button class="c-title c-start-campaign active c-datatable-btn">
                        Connect
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>