<p class="fz14 fw-400 black-color pb-20">Set a few parameters to search Influencers matches best with the business goal
   of this campaign.</p>

<div class="draft-brand-tag mb-28">
   <div class="form-group ra-select-form-group">

      <label class="fz14 fw-600 mb-12 black-color" for="draftTab3">Location of your Audience</label>
      <select class="form-control ra-select-form-control" id="draftTab3">
         <option selected>Any Location</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
      </select>
      <span class="mdi mdi-chevron-down select-custom-icon"></span>
   </div>
</div>

<div class="mb-28">
   <h3 class="fz14 fw-600 black-color mb-12">Select Interest of your Audience (5 max)</h3>
   <div class="promotion-tag">
      {%
      set audienceList = [
      { name: "Education" },
      { name: "Sports" },
      { name: "Entertainment" },
      { name: "Food" },
      { name: "Skill Development" },
      { name: "Travel" },
      { name: "DIY" },
      { name: "Gadgets" }
      ]
      %}
      {% for item in audienceList %}
      <div class="btn-checkbox">
         <input type="checkbox" name="" id="audienceListTag_{{ loop.index }}" class="d-none btn-checkbox-input">
         <label class="btn-checkbox-label" for="audienceListTag_{{ loop.index }}">{{ item.name }}</label>
      </div>
      {% endfor %}
   </div>
</div>