<div class="d-card h-100">
   <div class="row">
      <div class="col-md-6 text-center">
         {% include "snippets/reports/roundChartRed.njk" %}
         <h4 class="fz14 fw-700 uppercase ra-primary-color letter-spacing-2">Full Report</h4>
      </div>
      <div class="col-md-6">
         <h3 class="fz20 fw-500 mb-1 mb-md-3">Top Impressions</h3>
         <ul class="overview-round-chart-list">
            <li><a href="#" class="fz12 fw-400 mb-1">Advertiser 1</a></li>
            <li><a href="#" class="fz12 fw-400 mb-1">Advertiser 2</a></li>
            <li><a href="#" class="fz12 fw-400 mb-1">Advertiser 3</a></li>
         </ul>
      </div>
   </div>
</div>