<div class="tab-area">
   <ul class="nav nav-pills nav-justified mb-2 mb-md-4 border-radius-8">
      <li class="nav-item">
         <a class="rs-btn rs-btn-trans rs-btn-lg nav-link fz20 fw-700 uppercase" data-toggle="tab" href="#requests">Requests</a>
      </li>
      <li class="nav-item">
         <a class="rs-btn rs-btn-trans rs-btn-lg nav-link fz20 fw-700 uppercase" data-toggle="tab" href="#impressions">impressions</a>
      </li>
      <li class="nav-item">
         <a class="rs-btn rs-btn-trans rs-btn-lg nav-link fz20 fw-700 uppercase" data-toggle="tab" href="#fillrate">Fill Rate</a>
      </li>
      <li class="nav-item">
         <a class="rs-btn rs-btn-trans rs-btn-lg nav-link fz20 fw-700 uppercase" data-toggle="tab" href="#clicks">Clicks</a>
      </li>
      <li class="nav-item">
         <a class="rs-btn rs-btn-trans rs-btn-lg nav-link fz20 fw-700 uppercase active" data-toggle="tab" href="#revenue">revenue</a>
      </li>
   </ul>

   <!-- Tab panes -->
   <div class="tab-content border-radius-8 table-row-bg-color">
      <div class="tab-pane fade" id="requests">...</div>
      <div class="tab-pane fade" id="impressions">...</div>
      <div class="tab-pane fade" id="fillrate">...</div>
      <div class="tab-pane fade" id="clicks">...</div>
      <div class="tab-pane active" id="revenue">
         <div class="chart-area">
            {% include 'snippets/reports/revenue-map.njk' %}

            <!-- Revenue Chart Amount -->
            {% include "snippets/reports/revenueChartAmount.njk" %}
         </div>
      </div>
   </div>
</div>