<div class="data-table-search-bg p-3 border-radius-8  ra-property-list  mb-3 mb-md-4">
   <div class="row">
      <div class="col-md-12">
         <div class="property-data-table-head">

            <div class="report-dropdown-wrapper d-flex flex-wrap w-100">
               <div class="propert-header-right mr-0 mr-md-3">
                  <fieldset class="rs-form">
                     <select class="ra-select estimate-revenue-select min-height-40 form-width fw-700 fz16">
                        <option class="fz16 fw-500" value="bangladesh" selected>All Property</option>
                        <option class="fz16 fw-500" value="saudi arabia">All Property</option>
                        <option class="fz16 fw-500" value="us">All Property</option>
                        <option class="fz16 fw-500" value="india">All Property</option>
                     </select>
                  </fieldset>
               </div>

               <div class="propert-header-right">
                  <fieldset class="rs-form">
                     <select class="ra-select estimate-revenue-select min-height-40 form-width fw-700 fz16">
                        <option class="fz16 fw-500" value="bangladesh" selected>Select Date Range</option>
                        <option class="fz16 fw-500" value="saudi arabia">Select Date Range</option>
                        <option class="fz16 fw-500" value="us">Select Date Range</option>
                        <option class="fz16 fw-500" value="india">Select Date Range</option>
                     </select>
                  </fieldset>
               </div>
            </div>

            <button type="button" class="rs-btn rs-btn-primary rs-btn-lg uppercase">Export</button>
         </div>
      </div>
   </div>
</div>