<div class="tab-area mb-2 mb-md-4 mt-3 mt-md-5">
   <div class="tab-wrap">
      <ul class="nav nav-pills nav-justified w-50">
         <li class="nav-item">
            <a class="nav-link fz20 fw-700 uppercase active" data-toggle="tab" href="#">Dates</a>
         </li>
         <li class="nav-item">
            <a class="nav-link fz20 fw-700 uppercase" data-toggle="tab" href="#">properties</a>
         </li>
         <li class="nav-item">
            <a class="nav-link fz20 fw-700 uppercase" data-toggle="tab" href="#">Ad places</a>
         </li>
      </ul>
   </div>
</div>