<div class="chart-amount mt-3 mt-md-3">
   <div class="mb-2 mb-md-0">
      <h3 class="fz28 fw-700 mb-1">৳ 22,726</h3>
      <p class="fz12 fw-400">Total Estimated Revenue generated in 31 days - 01, Jul 2020 (Wednesday) to 31, Jul 2020 (Friday)</p>
   </div>
   <div>
      <button type="button" class="rs-btn rs-btn-primary">Full Report</button>
   </div>
</div>