<form action="" class="registration-form px-50">
    <div class="row">
        <div class="col-md-12">
            <fieldset class="rs-form password-form mb-4">
                <label class="rs-label">Enter new password</label>
                <input type="password" class="rs-input">
                <span class="mdi mdi-eye icon type-toggle fz20"></span>
            </fieldset>
        </div>
    </div>

    <div class="text-center d-flex align-items-center justify-content-center">
        <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-4">Confirm</button>
        <button type="submit" class="rs-btn rs-btn-trans rs-btn-lg uppercase">Cancel</button>
    </div>
</form>