{% extends "layouts/layout.njk" %}

{% block content %}

<div class="row">
   <div class="col-lg-8">
      {% include 'snippets/profile.njk' %}
   </div>
   <div class="col-lg-4">
      <div class="adv_dashboard">
         {% include 'snippets/advertiserDashboard.njk' %}
         {% include 'snippets/changeAccountPassword.njk' %}
      </div>
   </div>

   <div class="col-lg-8">
      <div class="PaymentAccount">
         {% include 'snippets/paymentAccount.njk' %}
      </div>
   </div>
</div>
    
{% endblock %}