{% extends "layouts/layout.njk" %}

{% block content %}
<div class="dashbaord-main">
   <div class="propert-header-right data-table-search-bg p-4 radius_8">
      <div class="row">
         <div class="col-lg-6 col-md-6">
            <fieldset>
               <select class="ra-dark-down-arrow acitvity-log-select ra-select min-height-40 form-width fw-700 fz16">
                  <option class="fz18 fw-500" value="bangladesh" selected>Select Date Range</option>
                  <option class="fz18 fw-500" value="saudi arabia">Saudi Arabia</option>
                  <option class="fz18 fw-500" value="us">Uinited State Of America</option>
                  <option class="fz18 fw-500" value="india">India</option>
               </select>
            </fieldset>
         </div>
         <div class="col-lg-6 col-md-6">
            <form action="" class="rs-form acitvity-log-search">
               <button type="submit" class="position-absolute ra-search-label" for="searchInput">
                  <img src="assets/images/icons/search.svg" alt="Search Icon">
               </button>
               <input type="search" class="rs-input min-height-48 pr-5" id="searchInput"
                  placeholder="enter property or ad place or user name">

            </form>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
         {% include "snippets/activityLogItem.njk" %}
      </div>
   </div>



</div><!-- dashbaord-main end -->
{% endblock %}