{% extends "layouts/layout.njk" %}

{% block content %}

<!--Selection Field-->
{% include "snippets/reports/overviewSelectionField.njk" %}

<!-- Advertisers Section -->
<section>
   <div class="row">
      <div class="col-md-4 mb-2 mb-md-3">
         <div class="d-card">
            <h4 class="fz14 fw-400">Top Requests</h4>
            <h2 class="fz20 fw-500 mt-1 mb-1 mt-md-2 mb-md-2">Dreamcast Marketing & Commun...</h2>
            <span class="fz28 fw-700">10,017,365</span>
         </div>
      </div>

      <div class="col-md-4 mb-2 mb-md-3">
         <div class="d-card">
            <h4 class="fz14 fw-400">Top Impressions</h4>
            <h2 class="fz20 fw-500 mt-1 mb-1 mt-md-2 mb-md-2">JossWork</h2>
            <span class="fz28 fw-700">5,065,089</span>
         </div>
      </div>

      <div class="col-md-4 mb-2 mb-md-3">
         <div class="d-card">
            <h4 class="fz14 fw-400">Top Revenue</h4>
            <h2 class="fz20 fw-500 mt-1 mb-1 mt-md-2 mb-md-2">Green and Red Technologies Limi...</h2>
            <span class="fz28 fw-700">৳ 71,085.28</span>
         </div>
      </div>

      <div class="col-md-4 mb-2 mb-md-3">
         <div class="d-card">
            <h4 class="fz14 fw-400">Top CTR</h4>
            <h2 class="fz20 fw-500 mt-1 mb-1 mt-md-2 mb-md-2">Chang Chee Bo</h2>
            <span class="fz28 fw-700">6.76%</span>
         </div>
      </div>

      <div class="col-md-4 mb-2 mb-md-3">
         <div class="d-card">
            <h4 class="fz14 fw-400">Top Clicks</h4>
            <h2 class="fz20 fw-500 mt-1 mb-1 mt-md-2 mb-md-2">UFO Interactive Ltd.</h2>
            <span class="fz28 fw-700">84,444</span>
         </div>
      </div>
   </div>

   <div class="ra-data-table-bg border-radius-8 p-3 ra-property-list">
      <div class="row">
         <div class="col-md-12">
            <div class="dataTable table-responsive">

               <!--Advertisers Data Table-->
               {% include "snippets/dataTable/advertisersDataTable.njk" %}

               {% include "snippets/loadMoreBtn.njk" %}
            </div>
         </div>
      </div>
   </div>

</section>
{% endblock %}