{% extends "layouts/authLayout2.njk" %}

{% block content %}
<!-- Register -->
<form action="">
   <div class="authentication-card text-center mb-20">
      <div class="create-gnr-account">
         <h3 class="fz22 fw-700 mb-16 black-color-2">Create Account</h3>
         <p class="fz14 fw-400 purpleLight7-color mb-24">Want to run <span class="fw-600">Ad Campaigns</span> for your
            business or agency?
            Want to earn from <span class="fw-600">Publishing Ads</span> on your platforms?</p>

         <a href="#" class="ra-btn bg-green fz16 fw-600 ra-btn-6x12 height-43 mb-24">Create a GNR Client Account</a>
         <div class="mb-24">
            <span class="or-with-bar fz14 fw-400 purple-light-color">Or,</span>
         </div>
         <a href="#" class="ra-btn ra-btn-orange-bg fz16 fw-600 ra-btn-6x12 height-43 mb-24">Create an Influencer
            Account</a>
         <p class="fz12 fw-400 purple-light-color mb-1">Already have an account?</p>
         <a href="#" class="fz14 fw-600 blue-color-2">Login Now</a>
      </div>
   </div>
</form>

<!-- Rgister As Client -->


{% endblock %}