{% extends "layouts/layout2.njk" %}

{% block content %}

<!-- Top Bar -->
<header class="topbar topbar2 d-flex justify-content-between align-items-center">
   <div class="breadcumb fz16 fw-600">
      <div class="d-flex align-items-center">
         <a href="#" class="mr-20">
            <img src="assets/images/icons/coolicon.svg" class="img long-arrow" alt="Arrow Icon">
         </a>
         <span>Campaigns</span>

         <!-- Button trigger modal -->
         {% include 'snippets/modals/addCampaignModal.njk' %}
      </div>
   </div>
   <div class="right-menu dropdown d-flex">
      {% include 'snippets/topBar2Right.njk' %}
   </div>
</header>

<!-- Filter Bar -->
<div class="filter-wrapper filter-wrapper-custom ra-data-table-bg">
   <form action="" class="rs-form create-campaign-form custom-form mb-md-0 mb-3">
      <div class="create-campaign-wrapper">
         <div class="fz20 fw-600 mr-2">All Campaigns</div>
         <button type="submit" class="search-icon border-0 bg-transparent pl-md-3 pl-0 d-flex align-items-center"
            for="campaignSearch">
            <span class="mdi mdi-magnify search-img black-color fw-600 search-custom"></span>
         </button>
         <input type="search"
            class="rs-input ra-input create-campaign-custom-input ra-data-table-bg fz14 fw-500 min-hieght-36 d-none"
            id="campaignSearch" placeholder="">
      </div>
   </form>

   <div class="search-right create-campaign-filter d-flex align-items-center justify-content-center">
      <div class="mr-1 mr-md-3">
         <div class="serach-number border-0 fw-500 d-flex align-items-center min-hieght-36">
            <p class="fz14 mr-2"><span>1</span>-<span>10</span> of <span>11</span></p>
            <button class="filter-number"><span class="mdi mdi-chevron-left"></span></button>
            <button class="filter-number active"><span class="mdi mdi-chevron-right"></span></button>
         </div>
      </div>
      <div class="ra-filter mr-1 mr-md-3">
         <div class="dropdown search-common">
            <button
               class="search-filter border-0 radius-5 d-flex gray-light-bg-color fw-500 d-flex align-items-center min-hieght-36"
               type="button" id="serach-filter" data-toggle="dropdown" aria-haspopup="true">
               <span class="mdi mdi-filter-outline fz20 pr-2"></span>
               <p class="fz14">Filter By</p>
               <span class="mdi mdi-chevron-down fz20 pl-2"></span>
            </button>
            <div class="dropdown-menu search-dropdown" aria-labelledby="serach-filter">
               <a class="dropdown-item" href="#">Campaign Name</a>
               <a class="dropdown-item" href="#">Type</a>
               <a class="dropdown-item" href="#">Budget</a>
               <a class="dropdown-item" href="#">Category</a>
            </div>
         </div>
      </div>
      <div class="ra-filter">
         <div class="dropdown search-common">
            <button
               class="search-filter border-0 radius-5 d-flex gray-light-bg-color fw-500 d-flex align-items-center min-hieght-36"
               type="button" id="serach-filter" data-toggle="dropdown" aria-haspopup="true">
               <span class="mdi mdi-sort-descending fz20 pr-2"></span>
               <p class="fz14">Sort By</p>
               <span class="mdi mdi-chevron-down fz20 pl-2"></span>
            </button>
            <div class="dropdown-menu search-dropdown" aria-labelledby="serach-filter">
               <a class="dropdown-item" href="#">Campaign Name</a>
               <a class="dropdown-item" href="#">Type</a>
               <a class="dropdown-item" href="#">Budget</a>
               <a class="dropdown-item" href="#">Category</a>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="wrapper">
   {% include "sections/createCampaign/createCampaignDataTable.njk" %}
</div>

{% endblock %}