{% extends "layouts/layout2.njk" %}

{% block content %}

<!-- Top Bar -->
<header class="topbar topbar2 d-flex justify-content-between align-items-center">
   <div class="breadcumb fz16 fw-600">
      <div class="d-flex align-items-center">
         <a href="#" class="mr-20">
            <img src="assets/images/icons/coolicon.svg" class="img long-arrow" alt="Arrow Icon">
         </a>
         <a href="#" class="btn-4x12 radius-4 fz12 fw-500">
            Draft
         </a>
         <span class="pl-2 pr-3">Brand Name: 40% Sale Offer</span>
         <button class="ra-three-dot-btn three-dot-draft">
            <span></span>
            <span></span>
            <span></span>
         </button>
      </div>
   </div>
   <div class="right-menu dropdown">
      <a href="javascript:void(0)" class="account-menu d-flex align-items-center dropdown-toggle" type="button"
         id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <div class="avater">
            <img src="http://via.placeholder.com/48x48" alt="">
         </div>
         <div class="acc-name">Publisher</div>

         <button class="dropdown-icon">
            <i class="mdi mdi-menu-down"></i>
         </button>

      </a>
      <div class="dropdown-menu mt-1" aria-labelledby="dropdownMenuButton2">
         <ul>
            <li><a href="accountSettings.html">Account Settings</a></li>
            <li><a href="index2.html">Advertiser Dashboard</a></li>
            <li><a href="">বাংলা ভাষা নির্বাচন</a></li>
            <li><a href="">Take a Tour</a></li>
            <li><a href="login.html">Logout</a></li>
         </ul>
      </div>
   </div>
</header>

<!-- Draft Pogress Bar -->
<div class="draft-progress-bar">
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number active">1</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16 active">Provide a Brief</p>
            <span class="draft-step-subtitle fz12 active">on your Campaign</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">2</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Provide Contents</p>
            <span class="draft-step-subtitle fz12">for your Campaign</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">3</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Set your Parameters</p>
            <span class="draft-step-subtitle fz12">to find Influencers</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">4</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Browse Influencers &</p>
            <span class="draft-step-subtitle fz12">select to connect</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">5</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Make the Deal &</p>
            <span class="draft-step-subtitle fz12">move to Scheduled</span>
         </div>
      </div>
   </div>
</div>

<div class="draft-content-wrapper">
   <div class="draft-body">
      <form action="#">
         <div class="page page-1">
            <p class="fz14 fw-400 black-color pb-20">Lorem Ipsum has been the industry's standard dummy text ever since
               the 1500s, when an unknown printer took. Lorem Ipsum has been the industry's standard dummy text.</p>
            <div class="draft-brand-tag">
               <h3 class="fz14 fw-600 black-color pb-16">What do you want to Promote?</h3>
               <div class="promotion-tag">
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Brand</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Campaign</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Event</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Movie</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Product</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Service</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Hotel</button>
                  <button class="fw-400 promotion-tag-btn ra-btn-border">Restaurant</button>
               </div>
            </div>

            <div class="promotion-start-form">
               <h3 class="fz14 fw-600 black-color pb-16">When do you want to start the Promotion?</h3>
               <div class="promotion-input">
                  <div class="row">
                     <div class="col-md-6 mb-20">
                        <label class="sr-only fz14 fw-400 gray-light-text-color" for="promotionInputDate">Select
                           date</label>
                        <div class="input-group custom-input-group mb-2">
                           <input type="date" class="form-control custom-form-control" id="promotionInputDate">
                        </div>
                     </div>
                     <div class="col-md-6 mb-20">
                        <label class="sr-only fz14 fw-400 gray-light-text-color" for="promotionInputTime">Select
                           Time</label>
                        <div class="input-group custom-input-group mb-2">
                           <input type="time" class="form-control custom-form-control" id="promotionInputTime">
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="brief">
               <h3 class="fz14 fw-600 black-color pb-16">Brief a short brief on your Promotion</h3>

               <div class="brief-content">
                  <textarea class="fz14 fw-400" name="brief" id="briefText" placeholder="# Describe your Campaign 
# Give an idea of how the content should look like 
# What is the key message that you want the influencers to promote"></textarea>
               </div>
            </div>

            <div class="d-flex justify-content-center">
            <button class="ra-btn ra-btn-dark-bg draft-btn fz15 fw-500" type="submit">Next</button>
            </div>
         </div> <!-- Page End -->
      </form>
   </div>
</div>



{% endblock %}