{% extends "layouts/layout2.njk" %}

{% block content %}

<!-- Top Bar -->
<header class="topbar topbar2 d-flex justify-content-between align-items-center">
   <div class="breadcumb fz16 fw-600">
      <div class="d-flex align-items-center">
         <a href="#" class="mr-20">
            <img src="assets/images/icons/coolicon.svg" class="img long-arrow" alt="Arrow Icon">
         </a>
         <a href="#" class="btn-4x12 radius-4 fz12 fw-500">
            Draft
         </a>
         <span class="pl-2 pr-3">Brand Name: 40% Sale Offer</span>
         <button class="ra-three-dot-btn three-dot-draft">
            <span></span>
            <span></span>
            <span></span>
         </button>
      </div>
   </div>
   <div class="right-menu dropdown">
      <a href="javascript:void(0)" class="account-menu d-flex align-items-center dropdown-toggle" type="button"
         id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <div class="avater">
            <img src="http://via.placeholder.com/48x48" alt="">
         </div>
         <div class="acc-name">Publisher</div>

         <button class="dropdown-icon">
            <i class="mdi mdi-menu-down"></i>
         </button>

      </a>
      <div class="dropdown-menu mt-1" aria-labelledby="dropdownMenuButton2">
         <ul>
            <li><a href="accountSettings.html">Account Settings</a></li>
            <li><a href="index2.html">Advertiser Dashboard</a></li>
            <li><a href="">বাংলা ভাষা নির্বাচন</a></li>
            <li><a href="">Take a Tour</a></li>
            <li><a href="login.html">Logout</a></li>
         </ul>
      </div>
   </div>
</header>

<!-- Draft Pogress Bar -->
<div class="draft-progress-bar">
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number active">1</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16 active">Provide a Brief</p>
            <span class="draft-step-subtitle fz12 active">on your Campaign</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">2</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Provide Contents</p>
            <span class="draft-step-subtitle fz12">for your Campaign</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">3</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Set your Parameters</p>
            <span class="draft-step-subtitle fz12">to find Influencers</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">4</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Browse Influencers &</p>
            <span class="draft-step-subtitle fz12">select to connect</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div> 
   <div class="step">
      <div class="draft-step-item">
         <div class="draft-step-number">5</div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Make the Deal &</p>
            <span class="draft-step-subtitle fz12">move to Scheduled</span>
         </div>
      </div>
   </div> 
</div>

<!-- <div class="login-outer">
   <form action="#">
      <div class="page slidepage">
         <div class="title">Basic Info:</div>
         <div class="field">
            <div class="label">First Name:</div>
            <input type="text" name="" id="" />
         </div>
         <div class="field">
            <div class="label">Last Name:</div>
            <input type="text" name="" id="" />
         </div>
         <div class="field nextBtn">
            <button>Next</button>
         </div>
      </div>

      <div class="page">
         <div class="title">Contact Info:</div>
         <div class="field">
            <div class="label">Email Address</div>
            <input type="text" name="" id="" />
         </div>
         <div class="field">
            <div class="label">Phone Number</div>
            <input type="number" name="" id="" />
         </div>
         <div class="field btns">
            <button class="prev-1 prev">Previous</button>
            <button class="next-1 next">Next</button>
         </div>
      </div>

      <div class="page">
         <div class="title">Date of Birth:</div>
         <div class="field">
            <div class="label">Date</div>
            <input type="text" name="" id="" />
         </div>
         <div class="field">
            <div class="label">Gender</div>
            <select name="" id="">
               <option value="">Male</option>
               <option value="">Female</option>
               <option value="">Other</option>
            </select>
         </div>
         <div class="field btns">
            <button class="prev-2 prev">Previous</button>
            <button class="next-2 next">Next</button>
         </div>
      </div>

      <div class="page">
         <div class="title">Login Details:</div>
         <div class="field">
            <div class="label">Username</div>
            <input type="text" name="" id="" />
         </div>
         <div class="field">
            <div class="label">Passwords</div>
            <input type="password" name="" id="" />
         </div>
         <div class="field btns">
            <button class="prev-3 prev">Previous</button>
            <button class="submit next">submit</button>
         </div>
      </div>
   </form>
</div> -->



{% endblock %}