{% extends "layouts/layout2.njk" %}

{% block content %}

<!-- Top Bar -->

<div class="sticky-top">
   <header class="topbar topbar2 d-flex justify-content-between align-items-center">
      <div class="breadcumb fz16 fw-600">
         <div class="d-flex align-items-center">
            <a href="#" class="mr-20">
               <img src="assets/images/icons/coolicon.svg" class="img long-arrow" alt="Arrow Icon">
            </a>
            <a href="#" class="btn-tag bg-grey btn-4x12 radius-4 fz12 fw-500">
               Draft
            </a>
            <span class="pl-2 pr-3">Brand Name: 40% Sale Offer</span>

            {% include 'snippets/threeDot.njk' %}
         </div>
      </div>
      <div class="right-menu dropdown d-flex">
         {% include 'snippets/topBar2Right.njk' %}
      </div>
   </header>
</div>

<!-- Draft Message -->
<div class="draft-top-message d-none">
   <p class="fz14 fw-400 black-color">Campaign created as a <span class="fw-500">Draft</span>. Please complete the flow
      to make a deal with an <span class="fw-500">Influencer</span></p>
</div>

<!-- Draft Pogress Bar -->
<div class="draft-progress-bar">

   <div class="step draft-progress-bar-item">
      <div class="draft-step-item lock active-text">
         <div class="draft-position">
            <p class="draft-step-number fz14">1</p>
         </div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Provide a Brief</p>
            <span class="draft-step-subtitle fz12">on your Campaign</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step draft-progress-bar-item">
      <div class="draft-step-item selected active-text">
         <div class="draft-position">
            <p class="draft-step-number fz14">2</p>
         </div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Provide Contents</p>
            <span class="draft-step-subtitle fz12">for your Campaign</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step draft-progress-bar-item">
      <div class="draft-step-item lock active-text">
         <div class="draft-position">
            <p class="draft-step-number fz14">3</p>
         </div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Set your Parameters</p>
            <span class="draft-step-subtitle fz12">to find Influencers</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step draft-progress-bar-item">
      <div class="draft-step-item ongoing active-text">
         <div class="draft-position">
            <p class="draft-step-number fz14">4</p>
         </div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Browse Influencers &</p>
            <span class="draft-step-subtitle fz12">select to connect</span>
         </div>
      </div>
      <div class="draft-step-seperator"></div>
   </div>
   <div class="step draft-progress-bar-item">
      <div class="draft-step-item blur active-text">
         <div class="draft-position">
            <p class="draft-step-number fz14">5</p>
         </div>
         <div class="draft-step-text">
            <p class="draft-step-title fz16">Make the Deal &</p>
            <span class="draft-step-subtitle fz12">move to Scheduled</span>
         </div>
      </div>
   </div>
</div>

<!-- Draft Content -->
<div class="draft-content-wrapper min-vh-100">
   <div class="draft-body">
      <form action="#" class="d-flex justify-content-center">
         <div class="page page-1 ">
            {% include 'sections/draftTab/draftTab1.njk' %}
         </div> <!-- Page End -->
      </form>
      <form class="d-flex justify-content-center">
         <div class="page page-2 d-none">
            {% include 'sections/draftTab/draftTab2.njk' %}
         </div> <!-- Page End -->
      </form>
      <form class="d-flex justify-content-center">
         <div class="page page-3 d-none">
            {% include 'sections/draftTab/draftTab3.njk' %}
         </div> <!-- Page End -->
      </form>
      <div class="page page-4 d-none">
         {% include 'sections/draftTab/draftTab4.njk' %}
      </div> <!-- Page End -->
      <div class="page page-5 d-none">
         {% include 'sections/draftTab/draftTab5.njk' %}
      </div> <!-- Page End -->
   </div>
</div>

{% endblock %}