{% extends "layouts/authLayout.njk" %}
{% block content %}
<div class="auth-card mt-8vh forgetPasswordFormArea">
    <div class="card-head text-center">
        <h2>Forget Password?</h2>
    </div>
    {% include "sections/forms/forgetPasswordForm.njk" %}
</div>
<div class="auth-card text-center mt-8vh reset-link-popup">
        <i class="mdi mdi-close close-btn"></i>
        <h4 class="mb-2">Password Reset Link Sent</h4>
        <div class="mb-4">
            <p class="fz12">We’ve send password reset link to your email inbox. Please check your email address. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
        </div>
        <div class="text-center d-flex align-items-center justify-content-center">
            <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-4">Resend</button>
            <button type="submit" class="rs-btn rs-btn-trans rs-btn-lg uppercase">Cancel</button>
        </div>
</div>


<script>
    var elem = $('.forgetPasswordForm');
    if(elem.length){
        elem.on('submit', function(e){
            e.preventDefault();
            $('.forgetPasswordFormArea').css({
                'display': 'none'
            })
            $('.reset-link-popup').css({
                'display': 'block'
            })
        })

        $('.reset-link-popup .close-btn').on('click', function(){
            $('.forgetPasswordFormArea').css({
                'display': 'block'
            })
            $('.reset-link-popup').css({
                'display': 'none'
            })
        })
    }
</script>

{% endblock %}