{% extends "layouts/layout.njk" %}

{% block content %}

<div class="row">
   <div class="col-md-4 mb-2 mb-md-3">
      {% set data = {
      title: 'Revenue Overview',
      today: '৳ 34,569',
      yesterday: '৳ 34,586',
      month: '৳ 34.5 K',
      estGrowth: '36.5%',
      icon: 'mdi-menu-up red-color'
      }%}
      {% include 'snippets/menu-card.njk' %}
   </div>
   <div class="col-md-4 mb-2 mb-md-3">
      {% set data = {
      class: 'darken',
      title: 'Fill Rate',
      today: '5%',
      yesterday: '85%',
      month: '75%',
      estGrowth: '15.6%',
      icon: 'mdi-menu-down red-color'
      }%}
      {% include 'snippets/menu-card.njk' %}
   </div>
   <div class="col-md-4 mb-2 mb-md-3">
      {% set data = {
      title: 'Requests',
      today: '35.4 K',
      yesterday: '35.4 K',
      month: '35.4 K',
      estGrowth: '36.5%',
      icon: 'mdi-menu-up red-color',
      moreBtn: true
      }%}
      {% include 'snippets/menu-card.njk' %}
   </div>
</div>

<div class="row">
   <div class="col-md-6">
      <div class="mb-2 mb-md-3">
         {% set data = {
         title: 'Impression',
         today: '34,569',
         yesterday: '34,586',
         month: '34.5 K',
         estGrowth: '36.5%',
         icon: 'mdi-menu-up red-color',
         moreBtn: true
         }%}
         {% include 'snippets/menu-card.njk' %}
      </div>
      <div class="mb-2 mb-md-3">
         {% set data = {
         title: 'Impressions served',
         moreBtn: false,
         class: 'darken',
         info: '1 Active Publishers with 2 Websites, 0 Apps',
         impressionToday: '34,569',
         impressionMonth: '561,251'

         }%}
         {% include 'snippets/menu-card.njk' %}
      </div>
      <div class="mb-2 mb-md-3">
         {% set data = {
         title: 'Properties',
         icon: 'mdi-menu-up red-color',
         moreBtn: true,
         properties: [
         {
         name: 'PropertyName 1',
         estGrowth: '36.5%',
         icon: 'mdi-menu-up green-color'
         },
         {
         name: 'PropertyName 2',
         estGrowth: '16.5%',
         icon: 'mdi-menu-down red-color'
         }
         ]
         }%}
         {% include 'snippets/menu-card.njk' %}
      </div>
   </div>
   <div class="col-md-6 mb-2 mb-md-3">
      <div class="d-card h-100">
         <div class="row">
            <div class="col-md-12 col-lg-6">
               {% include 'snippets/locationinfo.njk' %}
               {% include 'snippets/locationinfo.njk' %}
               {% include 'snippets/locationinfo.njk' %}
               {% include 'snippets/locationinfo.njk' %}
               {% include 'snippets/locationinfo.njk' %}
               {% include 'snippets/locationinfo.njk' %}
            </div>
            <div class="col-md-12 col-lg-6">
               <div class="map-area">
                  {% include 'snippets/reports/map.njk' %}
               </div>

               <div class="mt-1">
                  <a href="#" class="fz20 fw-700 color-b d-flex align-items-center justify-content-center text-center uppercase">
                     <span>Explore More</span>
                     <i class="mdi mdi-menu-right fz44"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{% include "snippets/reports/chartTab.njk" %}

<div class="ra-data-table-bg p-3  mt-2 mt-md-5 border-radius-8 ra-property-list dashbaord-main">
   <div class="row">
      <div class="col-md-12">
         <div class="property-data-table-head mb-2">
            <h2 class="fw-500 fz24">Report Last 30 Days</h2>

            <div class="propert-header-right">
               <button type="submit" class="rs-btn rs-btn-primary uppercase" for="searchInput">export</button>
            </div>
         </div>
         <div class="dataTable table-responsive">

            {% include "snippets/dataTable/datesData.njk" %}

            <!--Load More Button-->
            {% include "snippets/loadMoreBtn.njk" %}

         </div>
      </div>
   </div>
</div>


{% endblock %}