{% extends "layouts/layout.njk" %}

{% block content %}
<div class="row no-gutter">
   <div class="col-md-4">
      <div class="ra-progress">
         <div class="ra-progress-top">
            <p class="fz18 fw-600 black-color">4 In Progress</p>
            <button class="ra-three-dot-btn">
               <span></span>
               <span></span>
               <span></span>
            </button>
         </div>
         {% include "sections/myDeals/myDealsProgressItem.njk" %}
      </div>
   </div>
   <div class="col-md-4">
      {% include "sections/myDeals/myDealsOffer.njk" %}
   </div>
   <div class="col-md-4">
      <div class="deals-details">
         <h3 class="fz18 fw-600 black-color mb-2">Brand Name: 40% Sale Offer</h3>
         <p class="fz12 fw-500 gray-light-text-color"><span class="fw-600">Instagram</span> Story on 22 Jul, 2021</p>
         <p class="fz12 fw-500 gray-light-text-color mb-3">Sales Promotion published by <span
               class="fw-600">Shafayat</span> </p>

         <p class="fz14 fw-600 black-color mb-2">Budget:</p>
         <p class="fz18 fw-600 black-color mb-3">BDT 2000</p>

         <p class="fz14 fw-600 black-color mb-2">Campaign Brief:</p>
         <p class="fz14 fw-400 mb-3 deals-details-desc">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

         <p class="fz14 fw-600 mb-1">External Link:</p>
         <a href="https://sharetrip.net/" class="fz14 fw-400 blue-color d-block mb-3"
            target="_blank">https://sharetrip.net/</a>

         <p class="fz14 fw-600 mb-2 black-color">Hashtags:</p>
         <div class="my-deals-details-hashtag mb-3">
            <button class="in-btn-primary hashtag-primary fz12 fw-500">#ShareTrip</button>
            <button class="in-btn-primary hashtag-primary fz12 fw-500">#TravelApp</button>
         </div>

         <p class="fz14 fw-600 mb-2 black-color">Handles:</p>
         <div class="my-deals-details-hashtag mb-3">
            <button class="in-btn-primary hashtag-secondary fz12 fw-500">@ShareTrip</button>
         </div>

         <p class="fz14 fw-600 mb-2 black-color">Attachments:</p>
         <div class="my-deals-attachment">
            <div class="my-deals-attachment-img">
               <img src="https://via.placeholder.com/300" class="img" alt="Attachment Image">
            </div>
            <div class="my-deals-attachment-img">
               <img src="https://via.placeholder.com/300" class="img" alt="Attachment Image">
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}