{% extends "layouts/layout.njk" %}

{% block content %}
<div class="row no-gutter">
   <div class="col-md-4">
      <div class="ra-progress">
         <div class="ra-progress-top">
            <p class="fz18 fw-600 black-color">4 In Progress</p>
            <button class="ra-three-dot-btn">
               <span></span>
               <span></span>
               <span></span>
            </button>
         </div>
         {% include "sections/myDeals/myDealsProgressItem.njk" %}
      </div>
   </div>
   <div class="col-md-4">
      <div class="ra-progress brand border">
         <div class="ra-progress-top">
            <p class="fz18 fw-600 black-color">Brand Name: 40% Sale Offer</p>
            <button class="ra-three-dot-btn">
               <span></span>
               <span></span>
               <span></span>
            </button>
         </div>
         <div class="brand-name-wrapper">
            <div class="brand-name-top">
               <h4 class="fz16 fw-600 black-color mb-2">Shafayat made an initial offer of</h4>
               <span class="fz18 fw-600 black-color mb-2 d-block">20,000 BDT</span>
               <p class="fz14 fw-400 mb-3">Now you can send messages to Shafayat to know more about the campaign or ask for a raise or show your interest to proceed.</p>
               <button class="rs-btn in-btn-primary mx-auto">Show Interest</button>
            </div>
            <div class="brand-name-body">
               <p class="fz14 fw-400">You’ve accepted connection request of Shafayat.
                  You can send messages to each other now.</p>
               <span class="fz12 fw-500 gray-light-text-color">8:05 PM</span>
            </div>
         </div>

        <div>
         <form action="#">
            <div class="my-deals-form">
               <input type="text" class="rs-input gray-light-text-color fz14 fw-400 min-hieght-36" name="mydealsmsg" id="mydealsmsg" placeholder="Write your message">
               <button type="submit" class="rs-btn in-btn-secondary ml-2">Send</button>
            </div>
         </form>
        </div>
      </div>
   </div>
   <div class="col-md-4">
      c
   </div>
</div>
{% endblock %}