{% extends "layouts/layout.njk" %}

{% block content %}

<div class="row">
   <div class="col-md-4">
      <div class="ra-progress">
         <div class="ra-progress-top">
            <p class="fz18 fw-600 black-color">4 In Progress</p>
            <button class="ra-three-dot-btn">
               <span></span>
               <span></span>
               <span></span>
            </button>
         </div>
         {% include "sections/myDeals/myDealsProgressItem.njk" %}
      </div>
   </div>
   <div class="col-md-4">
      b
   </div>
   <div class="col-md-4">
      c
   </div>
</div>

{% endblock %}