{% extends "layouts/layout.njk" %}

{% block content %}

{% include "snippets/reports/overviewSelectionField.njk" %}


<div class="row">
   <div class="col-md-4 mb-md-4 mb-3">
      {% include "snippets/reports/card-impressionServed.njk" %}
   </div>

   <div class="col-md-4 mb-md-4 mb-3">
      {% include "snippets/reports/card-topImpression.njk" %}
   </div>

   <div class="col-md-4 mb-md-4 mb-3">
      {% include "snippets/reports/card-topRevenue.njk" %}
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <div class="tab-area">
         {% include "snippets/reports/chartTab.njk" %}
      </div>
   </div>

   <div class="col-md-12">
      {% include "snippets/reports/overviewDatesTable.njk" %}
   </div>
</div>

{% endblock %}