{% extends "layouts/authLayout.njk" %}
{% block content %}
<div class="auth-card text-center mt-8vh">
    <div class="mb-4">
        <h4 class="mb-2">Password Reset Link Sent</h4>
        <p class="fz12">We’ve send password reset link to your email inbox. Please check your email address. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
    </div>
    <div class="text-center d-flex align-items-center justify-content-center">
        <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase">Resend</button>
        <button type="submit" class="rs-btn rs-btn-trans rs-btn-lg uppercase">Cancel</button>
    </div>
</div>
{% endblock %}