{% extends "layouts/layout.njk" %}

{% block content %}

<div class="d-card mb-5">
    <div class="location-info">
        <div class="row ">
            <div class="col">
                <p class="fz24 fw-500 mb-3">PropertyName 1</p>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <p class="fz12 gray-color">Est. m/m Growth</p>
                <div class="ra-property-details-head d-flex">
                    <p class="fz24 pl-3 pr-2 fw-700">26.5% </p>
                    <span class="mdi mdi-menu-up green-color fz28"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="fz12 gray-color mb-1">ID</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">88876</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Property Type</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">Website</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Status</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">Active</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Ad Place(s)</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">27</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Request</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">1,625,790,161</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Impressions</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">1,625,790,161</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Fill Rate</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">85.29%</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Clicks</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">148,673</p>
                </div>
            </div>
            <div class="col">
                <p class="fz12 gray-color mb-1">Revenue</p>
                <div class="d-flex align-items-center">
                    <p class="fz14 fw-500">৳ 1,702,908</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="user_btn mr-2">
                <a href="javascript:void(0)" class="rs-btn rs-btn-lg rs-btn-primary uppercase fz20">Reports</a>
            </div>

            <div class="user_btn mr-2">
                <a href="javascript:void(0)" class="rs-btn rs-btn-lg uppercase fz20">Block
                    Ad</a>
            </div>

            <div class="user_btn mr-2">
                <a href="javascript:void(0)" class="rs-btn rs-btn-lg uppercase fz20">URL</a>
            </div>
        </div>
    </div><!-- location-info / -->
</div><!-- card / -->


<div class="d-card">
    <div class="user-wrapper pl-4">
        <h2 class="fz24 fw-500 mb-3">Add New Place for Advertise</h2>

        <p class="fz12 gray-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>

        <div class="user_btn mt-4">
            <button data-target="#propertyDetailsModal" data-toggle="modal"
                class="rs-btn rs-btn-lg rs-btn-primary uppercase fz20">Add</button>
        </div>

        {% include 'snippets/modals/propertyDetailsModal.njk' %}
    </div>
</div>
<div class="ra-property-list mt-5 dashbaord-main">
    <div class="row">
        <div class="col-md-12">
            <div class="dataTable table-responsive">
                <div class="property-data-table-head d-flex flex-wrap justify-content-between align-items-center mb-2">
                    <h2 class="fw-500 fz24">List of Properties</h2>

                    <div class="propert-header-right d-flex flex-wrap">
                        <fieldset class="rs-form mr-2">
                            <select class="ra-select fw-700 fz16">
                                <option class="fz18 fw-500" value="bangladesh" selected>All Property Type</option>
                                <option class="fz18 fw-500" value="saudi arabia">Saudi Arabia</option>
                                <option class="fz18 fw-500" value="us">Uinited State Of America</option>
                                <option class="fz18 fw-500" value="india">India</option>
                            </select>
                        </fieldset>
                        <fieldset class="rs-form">
                            <label class="position-absolute ra-search-label" for="searchInput">
                                <span><img src="../../assets/images/icons/search.svg" alt="Search Icon"></span>
                            </label>
                            <input type="search" class="rs-input pr-5" id="searchInput"
                                placeholder="enter property name">
                        </fieldset>
                    </div>
                </div>

                {% include "snippets/propertyDetailsDataTable.njk" %}
            </div>
        </div>
    </div>
</div>


{% endblock %}