{% extends "layouts/authLayout.njk" %}
{% block content %}
    <div class="auth-card text-center mt-8vh">
        <h4 class="mb-2">Registration Successful</h4>
        <p class="fz12">We’ve send a verification link to your email inbox. Please check your email address. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
    </div>
{% endblock %}