{% extends "layouts/authLayout2.njk" %}

{% block content %}
<!-- Create Account Page -->
<div class="authentication-card mb-20 text-center">
    <div class="authentication-card-header text-center mb-16">
        <h3 class="fz22 fw-700 black-color-2 w-100">Create Account</h3>
    </div>

    <div class="authentication-card-body">
        <div class="mb-24 p-0x32">
            <p class="fz14 fw-400 purpleLight7-color">Want to run <span class="fw-600">Ad Campaigns</span> for your
                business or agency?
                Want to earn from <span class="fw-600">Publishing Ads</span> on your platforms?</p>
        </div>

        <div class="mb-24 p-0x32">
            <a href="registerClient.html" class="ra-btn bg-green fw-600 ra-btn-6x12 min-height-48">Create a GNR Client Account</a>
        </div>
        <div class="mb-24 p-0x32">
            <span class="or-with-bar fz14 fw-400 purple-light-color">Or,</span>
        </div>
        <div class="mb-24 p-0x32">
            <a href="#" class="ra-btn ra-btn-orange-bg fw-600 ra-btn-6x12 min-height-48">Create an Influencer Account</a>
        </div>
    </div>

    <div class="authentication-card-footer">
        <div class="mb-24 p-0x32">
            <p class="fz12 fw-400 purple-light-color mb-1">Already have an account?</p>
            <a href="login.html" class="fz14 fw-600 blue-color-2">Login Now</a>
        </div>
    </div>
</div>

{% endblock %}