{% extends "layouts/layout.njk" %}

{% block content %}
<div class="data-table-search-bg p-3 border-radius-8  ra-property-list  mb-2 mb-md-4">
    <div class="row">
        <div class="col-md-12">
            <div class="property-data-table-head">

                <div class="report-dropdown-wrapper d-flex flex-wrap w-100">
                    <div class="propert-header-right mr-0 mr-md-3">
                        <fieldset class="rs-form">
                            <select class="ra-select estimate-revenue-select min-height-40 form-width fw-700 fz16">
                                <option class="fz16 fw-500" value="bangladesh" selected>All Property</option>
                                <option class="fz16 fw-500" value="saudi arabia">All Property</option>
                                <option class="fz16 fw-500" value="us">All Property</option>
                                <option class="fz16 fw-500" value="india">All Property</option>
                            </select>
                        </fieldset>
                    </div>

                    <div class="propert-header-right">
                        <fieldset class="rs-form">
                            <select class="ra-select estimate-revenue-select min-height-40 form-width fw-700 fz16">
                                <option class="fz16 fw-500" value="bangladesh" selected>Select Date Range</option>
                                <option class="fz16 fw-500" value="saudi arabia">Select Date Range</option>
                                <option class="fz16 fw-500" value="us">Select Date Range</option>
                                <option class="fz16 fw-500" value="india">Select Date Range</option>
                            </select>
                        </fieldset>
                    </div>
                </div>

                <button type="button" class="rs-btn rs-btn-primary rs-btn-lg uppercase">Export</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="d-card">

            <h3 class="fz20 fw-500 mb-2 mb-md-4">Impression Served</h3>

            <div class="row mb-1 mb-md-3">
                <div class="col">
                    <p class="gray-color fz12 fw-400">Date Range</p>
                    <span class="fz14 fw-500">01 Jul, 20 - 31 Jul, 20</span>
                </div>
                <div class="col text-right">
                    <strong class="fz28 fw-700">5,145,832</strong>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="gray-color fz12 fw-400">Property(s)</p>
                    <span class="fz20 fw-700">01</span>
                </div>
                <div class="col">
                    <p class="gray-color fz12 fw-400">Ad Place(s)</p>
                    <span class="fz20 fw-700">12</span>
                </div>
                <div class="col">
                    <p class="gray-color fz12 fw-400">Earnings</p>
                    <span class="fz20 fw-700">৳ 22,726</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-card">
            <div class="row">
                <div class="col-md-6 text-center">
                    {% include "snippets/overviewRoundChart.njk" %}
                    <h4 class="fz14 fw-700 uppercase ra-primary-color">Full Report</h4>
                </div>
                <div class="col-md-6">
                    <h3 class="fz20 fw-500 mb-1 mb-md-3">Top Impressions</h3>
                    <ul class="overview-round-chart-list">
                        <li><a href="#" class="fz12 fw-400 mb-1">Advertiser 1</a></li>
                        <li><a href="#" class="fz12 fw-400 mb-1">Advertiser 2</a></li>
                        <li><a href="#" class="fz12 fw-400 mb-1">Advertiser 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}