{% extends "layouts/layout.njk" %}

{% block content %}

    {% include 'snippets/addNewUser.njk' %}
    <div class="row">
        <div class="col-lg-6 col-md-6 mt-4">{% include 'snippets/accountEditDeleteDetails.njk' %}</div>
        <div class="col-lg-6 col-md-6 mt-4">{% include 'snippets/accountEditDeleteDetails.njk' %}</div>
    </div>
    
{% endblock %}