<a href="#" class="w-100">
   <div class="ra-progress-item active">
      <div class="progress-user-status">
         <div class="ra-progress-user">
            <img src="https://via.placeholder.com/300" class="img" alt="User Image">
         </div>
         <div class="ra-progress-social">
            <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
         </div>
      </div>

      <div class="ra-progress-body">
         <div class="ra-brand-name-title">
            <p class="fz14 fw-600 black-color">Brand Name: 40% Sale Offer</p>
            <p class="fz12 fw-400 gray-light-text-color">Just Now</p>
         </div>
         <div class="ra-brand-name-subtitle">
            <p class="fz14 gray-light-text-color fw-400"><span class="fw-600">Shafayat</span> sent an offer to connect
            </p>
            <span class="green-dot"></span>
         </div>
      </div>
   </div>
</a>

<a href="#" class="w-100">
   <div class="ra-progress-item">
      <div class="progress-user-status">
         <div class="ra-progress-user">
            <img src="https://via.placeholder.com/300" class="img" alt="User Image">
         </div>
         <div class="ra-progress-social">
            <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
         </div>
      </div>

      <div class="ra-progress-body">
         <div class="ra-brand-name-title">
            <p class="fz14 fw-600 black-color">Wix: Melt the Ice Campaign</p>
            <p class="fz12 fw-400 gray-light-text-color">Just Now</p>
         </div>
         <div class="ra-brand-name-subtitle">
            <p class="fz14 gray-light-text-color fw-400"><span class="fw-600">Kashefur: </span>Can we lock it for
               25,000?</p>
            <span class="green-dot active"></span>
         </div>
      </div>
   </div>
</a>

<a href="#" class="w-100">
   <div class="ra-progress-item">
      <div class="progress-user-status">
         <div class="ra-progress-user">
            <img src="https://via.placeholder.com/300" class="img" alt="User Image">
         </div>
         <div class="ra-progress-social">
            <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" class="img" alt="User Image">
         </div>
      </div>

      <div class="ra-progress-body">
         <div class="ra-brand-name-title">
            <p class="fz14 fw-600 black-color">Wix: Melt the Ice Campaign</p>
            <p class="fz12 fw-400 gray-light-text-color">Just Now</p>
         </div>
         <div class="ra-brand-name-subtitle">
            <p class="fz14 gray-light-text-color fw-400"><span class="fw-600">Kashefur: </span>Can we lock it for
               25,000?</p>
            <span class="green-dot"></span>
         </div>
      </div>
   </div>
</a>