{% extends "layouts/authLayout.njk" %}
{% block content %}
<div class="auth-card mt-8vh">
    <div class="card-head text-center">
        <h2>Login</h2>
    </div>
    {% include "sections/forms/loginForm.njk" %}
</div>
{% endblock %}