<div class="card settings-card">
   <div class="card-header card-header-custom">
      <h5 class="fz16 fw-700">Budget : BDT 20,000</h5>
      <button type="button" class="btn">Small button</button>
   </div>
   <div class="card-body">

   </div>
</div>