<!-- Modal -->
<div class="modal fade" id="editPaymentAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form action="">
        <div class="modal-header pt-5 border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">Edit Payment Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body pb-5">
          <div class="row">
            <div class="col-md-12">
              <fieldset class="rs-form mb-4 f44">
                <label for="editName" class="rs-label rs-select-editAccount fz10">Select Account Type</label>
                <select class="w-100">
                  <option value="BFTN">BFTN - Regualar Transfer</option>
                  <option value="BFTN">BFTN - Regualar Transfer</option>
                  <option value="BFTN">BFTN - Regualar Transfer</option>
                </select>
              </fieldset>
            </div>

            <div class="col-md-12">
              <fieldset class="rs-form mb-4">
                <label for="editName" class="rs-label">Account Title</label>
                <input type="text" class="rs-input" value="+88012345678990">
              </fieldset>
            </div>

            <div class="col-md-12">
              <fieldset class="rs-form mb-4">
                <label for="editName" class="rs-label">Account Number</label>
                <input type="text" class="rs-input" value="1199223344556677">
              </fieldset>
            </div>

            <div class="col-md-12">
              <fieldset class="rs-form mb-4">
                <label for="editName" class="rs-label rs-select-editAccount">Select Bank</label>
                <select class="w-100">
                  <option value="Eastern Bank Ltd.">Eastern Bank Ltd.</option>
                  <option value="Eastern Bank Ltd.">Eastern Bank Ltd.</option>
                  <option value="Eastern Bank Ltd.">Eastern Bank Ltd.</option>
                </select>
              </fieldset>
            </div>

            <div class="col-md-12">
              <fieldset class="rs-form mb-4">
                <label for="editName" class="rs-label rs-select-editAccount">Select Branch</label>
                <select class="w-100">
                  <option value="BFTN">Gulshan</option>
                  <option value="BFTN">Gulshan</option>
                  <option value="BFTN">Gulshan</option>
                </select>
              </fieldset>
            </div>

            <div class="col-md-12">
              <fieldset class="rs-form mb-4">
                <label for="editName" class="rs-label">Routing Number</label>
                <input type="text" class="rs-input" value="123456789">
              </fieldset>
            </div>

          </div>
          <div class="d-flex mt-3">
            <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-3">Edit Payment Account</button>
  
            <button class="rs-btn rs-btn-primary rs-btn-lg uppercase" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>