<!-- Modal -->
<div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Edit Account Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="mdi mdi-close" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <fieldset class="rs-form mb-4">
              <label for="editName" class="rs-label">Account Name</label>
              <input type="text" class="rs-input" value="Account Name">
            </fieldset>
          </div>

          <div class="col-md-12">
            <fieldset class="rs-form mb-4">
              <label for="editName" class="rs-label">Phone Number</label>
              <input type="text" class="rs-input" value="+88012345678990">
            </fieldset>
          </div>

          <div class="col-md-12">
            <fieldset class="rs-form mb-4">
              <label for="editName" class="rs-label">Address</label>
              <input type="text" class="rs-input" value="371/A, Block-D, Bashudhara R/A, Dhaka-1229">
            </fieldset>
          </div>

          <div class="col-md-12">
            <fieldset class="rs-form mb-4">
              <label for="editName" class="rs-label rs-select-editAccount">Address</label>
              <select>
                <option value="bangladesh">Bangladesh</option>
                <option value="saudi arabia">Saudi Arabia</option>
                <option value="us">Us</option>
                <option value="india" selected>India</option>
              </select>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="file" id="accountInfoUpdate" class="d-none">
        <label for="accountInfoUpdate" class="rs-btn rs-btn-primary rs-btn-lg uppercase">Update</label>

        <input type="file" id="accountInforCancel" class="d-none">
        <label for="accountInforCancel" class="rs-btn rs-btn-primary rs-btn-lg uppercase" data-dismiss="modal">Cancel</label>
      </div>
    </div>
  </div>
</div>