<!-- Modal -->
<div class="modal fade" id="editPaymentAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-xl-5 p-lg-3 p-md-1 changePasswordModal-content payment-close">
      <form action="">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">Edit Payment Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="mdi mdi-close" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="d-flex mt-3">
            <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-3">Edit Payment Account</button>
  
            <button class="rs-btn rs-btn-primary rs-btn-lg uppercase" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>