<!-- Modal -->
<div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-5 changePasswordModal-content properties-close">
            <form action="">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Property</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="mdi mdi-close" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body pb-5">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="rs-form mb-2">
                                <label for="editName" class="rs-label fz10">Title of your property</label>
                                <input type="text" class="rs-input fw-500 fz18" value="Propety name here">
                            </fieldset>
                            <a href="#" class="fz12 mb-4 gray-color mt-1">The name, ex: Top Bangladesh News</a>
                        </div>

                        <div class="col-md-12">
                            <fieldset class="rs-form mb-4 f44">
                                <label for="editName" class="rs-label rs-select-editAccount fz10 fz10">Type of
                                    Property</label>
                                <select class="ra-select fz18 fw-500 w-100 editAccountSelect">
                                    <option value="Eastern Bank Ltd.">Website</option>
                                    <option value="Eastern Bank Ltd.">Website 2</option>
                                    <option value="Eastern Bank Ltd.">Website 3</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-md-12">
                            <fieldset class="rs-form mb-2">
                                <label for="editName" class="rs-label rs-select-editAccount fz10">Website Domain</label>
                                <input type="text" class="rs-input fw-500 fz18" value="www.example.com">
                            </fieldset>
                            <a href="#" class="fz12 mb-4 gray-color mt-1">Don't include 'http://' or 'https://'</a>
                        </div>

                        <div class="col-md-6">
                            <fieldset class="rs-form mb-4 f44">
                                <label for="editName" class="rs-label rs-select-editAccount fz10 fz10">Language</label>
                                <select class="ra-select fz18 fw-500 w-100 editAccountSelect">
                                    <option value="Eastern Bank Ltd.">English</option>
                                    <option value="Eastern Bank Ltd.">Bangla</option>
                                    <option value="Eastern Bank Ltd.">Arabic</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="rs-form mb-4 f44">
                                <label for="editName" class="rs-label rs-select-editAccount fz10 fz10">Catergory</label>
                                <select class="ra-select fz18 fw-500 w-100 editAccountSelect">
                                    <option value="Eastern Bank Ltd.">News</option>
                                    <option value="Eastern Bank Ltd.">News 2</option>
                                    <option value="Eastern Bank Ltd.">News 3</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-md-12">
                            <div class="rs-checkbox">
                                <input class="rs-checkbox-input" type="checkbox" name="radio button" id="propertyRadioBtn">
                                <label class="checkbox-label fw-500" for="propertyRadioBtn">I’ve read the <span class="ra-primary-color fw-700">Terms & Conditiions.</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-3">Add
                            property</button>
                    </div>

                    <div class="guide-line fw-500 mt-5">
                        I’ve read the <a href="#" class="ra-primary-color fw-700">Terms & Conditiions.</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>