<!-- Modal -->
<div class="modal fade" id="propertyDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content p-5 changePasswordModal-content properties-close">
            <form action="">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Ad Place </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="mdi mdi-close" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body pb-5">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="rs-form mb-4 f44">
                                <label for="editName" class="rs-label rs-select-editAccount fz10 fz10">Title of your property</label>
                                <select class="ra-select fz18 fw-500 w-100 editAccountSelect">
                                    <option value="Eastern Bank Ltd.">PropertyName 1</option>
                                    <option value="Eastern Bank Ltd.">PropertyName 2</option>
                                    <option value="Eastern Bank Ltd.">PropertyName 3</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="rs-form mb-2">
                                <label for="editName" class="rs-label fz10">Ad Place Name</label>
                                <input type="text" class="rs-input fw-500 fz18" value="PropertyName 1">
                            </fieldset>
                            <a href="#" class="fz12 mb-4 gray-color mt-1">Ex: Top right corner of Home page</a>
                        </div>

                        <div class="col-md-12">
                            <fieldset class="rs-form mb-4 f44">
                                <label for="editName" class="rs-label rs-select-editAccount fz10 fz10">Select Size</label>
                                <select class="ra-select fz18 fw-500 w-50 editAccountSelect">
                                    <option value="Eastern Bank Ltd.">Select Size Preset</option>
                                    <option value="Eastern Bank Ltd.">Select Size Preset 2</option>
                                    <option value="Eastern Bank Ltd.">Select Size Preset 3</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-md-12">
                            <fieldset class="rs-form mb-4 f44">
                                <label for="editName" class="rs-label rs-select-editAccount fz10 fz10">Sticky ad place position</label>
                                <select class="ra-select fz18 fw-500 w-50 editAccountSelect">
                                    <option value="Eastern Bank Ltd.">Bottom</option>
                                    <option value="Eastern Bank Ltd.">Right</option>
                                    <option value="Eastern Bank Ltd.">Left</option>
                                    <option value="Eastern Bank Ltd.">Top</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-md-12">
                            <div class="rs-checkbox">
                                <input class="rs-checkbox-input" type="checkbox" name="radio button" id="propertyRadioBtn">
                                <label class="checkbox-label fw-500" for="propertyRadioBtn">Make this ad place Sticky</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <a href="propertyDetailsPage.html" type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-3">Add New ad place</a>
                    </div>

                    <div class="guide-line fw-500 mt-5">
                        Need Help?  Visit here <a href="#" class="ra-primary-color fw-700">Guideline</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>