// color
$white: #ffffff;
$black: #000000;

$dark: #333333;
$lightDark: #4f4f4f;

$gray: #828282;
$darkGray: #4c4c4c;

// Theme Colors
$primaryColor: #475364;
// $secondaryColor: #6CC0C8;

$baseTextColor: $black;

$bodyBg: $white;
$primaryBg: #fafafa;

$btnColor: #022c82;

$borderColor: #c7c7cc;

$errorColor: #ff3326;

$baseFontSize: 16;
$fontPrimary: "SF Pro Display", "Segoe UI", "Source Sans Pro", Sans-Serif;

// Link Color
$linkColor: #4a6dff;

// Bootstrap Data Table Header Background Color
$tableHeaderColor: #ced5de;
$tableRowColor: #eceef3;
$blockAddBtn: #d10049;
$dataTableSearchBgColor: #f5f5f5;

$paymentInputColor3: #8e8e93;

$report-round-btn-color: #65758b;

$chartRedColor: #ed1c24;

$grayLight: #efeff4;

// Influencer 2 Default Color
$darkPrimaryColor: #484848;
$orang: #D24E16;
$grayLight: #EDEDED;
$grayLightTextColor:#7A7A7A;
$grayLightBgColor: #DEDEDE;
$grayLight1: #EBEBEB;
$grayLight2: #F2F2F2;
$grayLight3: #CACACA;
$grayDark: #414141;
$darkBlueColor: #125ECF;
$grayProgressDark: #ADADAD;
$grayProgressLight: #D6D6D6;
$grayCheckboxLight: #C4C4C4;
$grayBorderColor: #E2E2E2;
$whiteLight: #F7F7F7;
$greenDark: #72BF44;
$purple: #383874;
$purpleLight: #83839F;
$purpleLight2: #EDEFF7;
$purpleLight3: #E6E9F5;
$purleDark: #373773;
$orangDark: #FC8B49;
$boxShadow: 0px 2px 6px rgba(36, 48, 97, 0.07);


