.campaign-settings-wrapper {
   display: flex;
   flex-wrap: wrap;
   background-color: $white;
   height: 100%;
}

.side-tree-menu {
   max-width: 320px;
   width: 100%;
   margin: 20px;

   @media screen and (max-width: 992px) {
      width: 100%
   }
}

.campaign-settings-content {
   max-width: 600px;
   width: 100%;
   margin: 20px;

   @media screen and (max-width: 992px) {
      width: 100%
   }
}

.card {
   &.settings-card {
      border: 1px solid $purpleLight3;
      border-radius: 6px;
      overflow: hidden;

      .card-header-custom {
         padding: 12px 16px 12px 20px;
         background-color: $purpleLight5;
         border-bottom: 1px solid $purpleLight3;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      .card-body {
         background-color: $white;
      }
   }
}

.tree-play-icon {
   line-height: 0px;
   padding-right: 10px;
}

.selected-title {
   padding: 8px 12px;
   background: $purpleLight4;
   border-radius: 4px;
   height: 36px;
   display: flex;

   &.unselected {
      background: transparent;

      .plus {
         display: none;
      }

      .ra-three-dot-btn-2 {
         display: none;
      }

      .title-content {
         font-weight: 500;
      }
   }

   .ra-three-dot-btn {
      &.ra-three-dot-btn-2 {
         span {
            background-color: $purpleLight;
         }
      }
   }

   .selected-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }

   .tree-play-icon svg {
      width: 16px;
   }

   .plus {
      border: none;
      background: transparent;
      line-height: 0px;
      margin-right: 5px;

      svg {
         width: 20px;
         height: 20px;
         padding: 5px;
         background-color: $purpleLight3;
         border-radius: 2px;
      }
   }

   .title-content {
      font-size: rem(14);
      font-weight: 600;
      color: $purple;
      display: flex;
      align-items: center;
   }
}

.ellipsis {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   width: 220px;
}

.campaign--title {
   margin-bottom: 8px;
}

.on-hold {
   .tree-hold {
      display: none;
   }

   .tree-unhold {
      display: inline-block;
   }
}

.tree-hold {
   display: inline-block;
}

.tree-unhold {
   display: none;
}

.tree-menu-content {
   a {
      font-weight: 500;
      font-size: rem(14);
      width: 80%;
      display: flex;
      align-items: center;
   }
}

.tree-menu-content,
.tree-menu-content ul,
.tree-menu-content li {
   position: relative;
   line-height: 30px;
}

.tree-menu-content ul {
   list-style: none;
   padding-left: 44px;
}

.tree-menu-content .border-wrapper {
   padding-left: 45px;
}

.tree-menu-content li::before,
.tree-menu-content li::after {
   content: "";
   position: absolute;
   left: -26px;
}

.tree-menu-content li::before {
   border-top: 1px solid $greenDark;
   top: 16px;
   width: 10px;
   height: 0;
}

.tree-menu-content li::after {
   border-left: 1px solid $greenDark;
   height: 100%;
   width: 0px;
   top: 9px;
}

.tree-menu-content .on-hold li:after {
   border-color: $purpleLight3;
}

.tree-menu-content .on-hold li:before {
   border-color: $purpleLight3;
}

.tree-menu-content ul>li:last-child::after {
   height: 8px;
}

.tree-menu-content li.list-item:before {
   top: 19px;
}

.tree-menu-content li.list-item:after {
   top: 15px;
}

.create-add-group {
   background: rgba(114, 191, 68, 0.1);
   border: 1px dashed $greenDark;
   padding: 20px 16px;
   border-radius: 4px;

   svg {
      width: 12px;
      margin-right: 10px;
   }
}