.campaign-wrapper {
   background-color: rgba($purpleLight3, .3);
}

.dashboard-menu {
   background-color: $white;
   padding: 10px 20px;
}

.menu-content {
   @media screen and (max-width: 767px) {
      margin-bottom: 25px;
   }
}

.menu-content ul {
   display: flex;
   align-items: center;

   li {
      a {
         color: $purpleLight;
         font-size: 16px;
         font-weight: 500;
         padding: 5px 5px;
         position: relative;
         transition: .2s ease-in-out;

         &:after {
            content: '';
            position: absolute;
            background: transparent;
            width: 100px;
            height: 3px;
            border-radius: 20px;
            top: 100%;
            left: -14%;
            color: $purple;
            transition: .2s ease-in-out;
         }

         &:hover {
            color: $purple;
         }

         &:hover:after {
            top: 127%;
            background: $greenDark;
         }
      }

      .active {
         position: relative;
         color: $purple;

         &:after {
            content: '';
            position: absolute;
            background: $greenDark;
            width: 108px;
            height: 3px;
            border-radius: 20px;
            top: 127%;
            left: -14%;
         }
      }
   }
}

.menu-content ul li:not(:last-child) {
   margin-right: 28px;
}

.slection-tab {
   background-color: $white;
   padding: 20px 20px 0px 20px;
   box-shadow: $boxShadow;
}

.card-wrapper {
   display: flex;
   flex-wrap: wrap;
   margin-right: 20px;
   margin-left: 20px;

   .result-card {
      display: flex;
      align-items: center;
      background: $white;
      padding: 12px 16px;
      margin-bottom: 2px;
      border: 1px solid $purpleLight3;
      width: 20%;

      @media screen and(max-width: 767px) {
         width: 25%;
      }

      @media screen and(max-width: 575px) {
         width: 50%;
      }

      .result-icon {
         width: 40px;
         margin-right: 12px;
      }

      .result-detials {
         p {
            color: $purpleLight;
         }

         span {
            color: $purleDark;
         }
      }
   }
}