.radius_8 {
   border-radius: rem(8px);
}

.radius-50 {
   border-radius: 50%;
   overflow: hidden;
}

// Payment Account Option
.payment_item {
   text-align: center;
}

.payment_item button {
   background-color: #fff;
   border-color: transparent;
   border-radius: 8px;
   border: 1px dashed transparent;
}

.dashed_border {
   border-color: $primaryColor !important;
}

.dashed_border span {
   color: $primaryColor;
}

// Edit Account Info
.rs-select-editAccount {
   position: absolute !important;
   top: -3% !important;
}

input[type="text"] {
   font-size: 24px;
}

.ra-select {
   width: 30%;
   padding: 10px;
   /* Replace Default styling (arrow) */
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background-image: url('data:image/svg+xml;utf8,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10.127L12 18.127L20 10.127H4Z" fill="%238E8E93"/></svg>');
   background-repeat: no-repeat;
   background-position-y: 50%;
   background-position-x: 98%;
}

.ra-select:focus {
   outline: none;
   border: 1px solid $borderColor;
}

.ra-select option {
   background-color: #fff;
}

// Change Password Modal
.password-change {
   position: relative;
}

.password-change span {
   position: absolute;
   right: 1%;
   top: 50%;
   transform: translateY(-50%);
}

.changePasswordModal-content {
   box-shadow: 1px 2px 10px -1px #000;
}

// Add Payment Account
.rs-form.animate .rs-label {
   font-size: unset;
}

// Users Page
.user_img img {
   width: 72px;
   height: 72px;
}

.user_img {
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 128px;
   height: 128px;
   border-radius: 50%;
}

.user_btn .rs-btn {
   display: inline-flex !important;
}

.linkColor {
   color: $linkColor;
   transition: 5s ease-in-out;
}

.linkColor:hover {
   text-decoration: underline;
}

.changePasswordModal-content.addUser-close .close{
   top: 5%;
}

// accountName
.ra-custom-bg {
   background-color: #f5f5f5 !important;
}

// Change Password Modal
.changePasswordModal-content .close {
   position: absolute;
   top: 7%;
   right: 3%;
   height: 14px;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 7px;
}

// Add Payment Option Modal
.changePasswordModal-content.payment-close .close {
   top: 4%;
   right: 4%;
}

.changePasswordModal-content.editAccount-close .close {
   top: 5%;
   right: 4%;
}
