.dot {
   position: relative;
}

.dot:after {
   width: 7px;
   height: 7px;
   background: $orang;
   content: '';
   position: absolute;
   top: 30%;
   border-radius: 50%;
}

.ra-custom-nav-link{
   padding: 10px 47px;
   font-size: rem(15px);
   font-weight: 600;
   background-color: $white;
}

@media screen and(max-width: 767px){
   .ra-custom-nav-link {
      margin-bottom: 5px;
      padding: 10px 10px;
   }
}

.ra-custom-nav-link.active {
   background-color: $tab-btn-bg !important;
   color: #fff;
}

.ra-gray-light-bg {
   background-color: $gray-light;
}