.my-campaigns-wrapper {
   padding-top: 20px;
}

.dot {
   position: relative;
}

.dot:after {
   width: 7px;
   height: 7px;
   background: $orang;
   content: '';
   position: absolute;
   top: 30%;
   border-radius: 50%;
   margin-left: 4px;
}

.tab-wrapper li {
   margin: 0px 1px 20px;

   &:last-child {
      margin-right: 0;
   }

   @media screen and(max-width: 1058px) {
      margin-bottom: 10px;
   }

   @media screen and(max-width: 767px) {
      width: 34%;
      text-align: center;
      margin-bottom: 10px;
   }

   @media screen and(max-width: 472px) {
      width: 100%;
   }
}

.ra-custom-nav-link {
   padding: 10px 47px;
   font-size: rem(15px);
   font-weight: 600;
   background-color: $white;
}

@media screen and(max-width: 767px) {
   .ra-custom-nav-link {
      margin-bottom: 5px;
      padding: 10px 10px;
   }
}

.ra-custom-nav-link.active {
   background-color: $darkPrimaryColor !important;
   color: #fff;
}

.ra-gray-light-bg {
   background-color: $grayLight;
}

.dropdown .dropdown-menu.search-dropdown {
   width: 200px;
   padding: 0px;
   font-size: rem(14px);
   font-weight: 500;
   transform: translate3d(0, 31px, 0) !important;
   background-clip: unset;
   box-shadow: 0px 0px 20px #ddd;
   border: none;
}

.search-dropdown .dropdown-item:focus,
.search-dropdown .dropdown-item:hover {
   color: #fff;
   text-decoration: none;
   background-color: #484848;
}

.custom-form {
   width: 35%;

   @media (max-width: 768px) {
      margin-top: 0px;
   }

   @media (max-width: 767px) {
      width: 100%;
   }
}

.serach-number {
   background: transparent;
}