<div class="user-wrapper mt-4 mb-2 mb-md-4">
    <h2 class="fz24 fw-500 mb-3">Enter Campaign Details</h2>

    <p class="fz12 fw-400 gray-color mb-1 mb-md-3">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry</p>
</div>

<form action="" id="influencer-form-3">
    <div class="row">
        <div class="col-md-12">
            <h3 class="fz16 fw-500">Selected Influencer</h3>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div
                        class="radio-group mr-3 pr-3 pl-3 pb-2 pt-2 ra-border border-radius-8 influenc-radio-group campaign-influencer mb-md-4 mb-1">
                        <div class="rs-checkbox d-flex align-items-center">
                            <input type="checkbox" name="" class="rs-checkbox-input" id="influencer-1">
                            <a href="#" class="fz16 user_img d-flex align-items-center w-100" for="influencer-1">
                                <div class="influencer-user">
                                    <img src="assets/images/icons/user.svg" alt="Icon">
                                </div>

                                <div class="d-flex flex-column pl-3">
                                    <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
                                    <div class="d-flex">
                                        <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
                                        <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <fieldset class="rs-form mb-md-4 mb-1 campagnDetailsInput">
                        <label for="editName" class="rs-label fz10 fw-400">Campaign Name</label>
                        <input type="text" class="rs-input fz18 fw-500">
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset class="rs-form mb-md-4 mb-1 campagnDetailsInput">
                        <label for="editName" class="rs-label fz10 fw-400">Campaign Text</label>
                        <input type="text" class="rs-input fz18 fw-500">
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset class="rs-form mb-md-4 mb-1 w-100">
                        <h5 class="fz10 fw-400 mb-1 mb-md-2 gray-color">Image</h5>
                        <div class="d-flex align-items-center mb-3">
                            <label for="imgUpload" class="fz10 fw-400 mb-0">
                                <span class="rs-btn rs-btn-secondary rs-btn-lg fz16 fw-700 uppercase">Choose Image</span>
                            </label>
                            <span class="filename fz16 ml-3">No File Chosen</span>
                        </div>
                        <input type="file" id="imgUpload" class="rs-input file-input b-none fz18 fw-500 d-none">
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset class="rs-form mb-md-4 mb-1 campagnDetailsInput">
                        <label for="editName" class="rs-label fz10 fw-400">Video Link</label>
                        <input type="text" class="rs-input fz18 fw-500">
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <fieldset class="rs-form mb-4 mb-1 influInput campagnDetailsInput-request">
                        <label class="rs-label">Reqquested Budget</label>
                        <input type="text" class="rs-input fw-500 fz18">
                    </fieldset>
                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-between mt-4 pb-5">
                        <button type="button" data-href="influencer-step-2" class="step-back-btn rs-btn rs-btn-secondary rs-btn-lg uppercase mr-3">
                            <span class="mdi mdi-arrow-left"></span>Select Influencer
                        </button>

                        <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-3">Next
                            <span class="mdi mdi-arrow-right"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>