<h3 class="fz12 fw-400 mb-1 mb-md-2">Campaign Info</h3>
<span class="fz16 fw-500 mb-1 mb-md-3 d-block">ShareTrip: Save Travel Repeat</span>
<p class="fz14 fw-400 mb-1 mb-md-2">Platform: <span class="fz14 fw-700">Youtube</span></p>
<p class="fz14 fw-400 mb-1 mb-md-2">Post Type: <span class="fz14 fw-700">Video</span></p>
<p class="fz14 fw-400 mb-1 mb-md-2">Requested Budget: <span class="fz14 fw-700">৳ 50,000</span></p>
<a href="#" class="fz14 fw-700 mb-1 mb-md-2"><span class="mdi mdi-play"></span> Video Link</a>

<h3 class="fz14 fw-400 mb-1 mb-md-2 gray-color">Campaign Text:</h3>
<p class="fz14 fw-400 mb-md-0 mb-3">
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
   industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
   scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
   into electronic typesetting, remaining essentially unchanged
</p>
