<form action="">
   <div class="influTextarea">
      <div class="rs-form mb-1 mb-md-0">
         <label class="rs-label fz18 fw-500 influ-comment-label" for="comment">Your Comment Here</label>
         <!-- <input type="text" class="rs-input pr-5"> -->
         <textarea name="influ-comment" class="rs-input pr-5 fz18 fw-500" id="comment"></textarea>
      </div>

      <button type="submit" class="influActiveArrow"><span class="mdi mdi-arrow-right"></span></button>
   </div>
</form>