<a href="#" class="fz16 user_img d-flex align-items-center w-100" for="influencer-1">
   <div class="influencer-user">
      <img src="assets/images/icons/user.svg" alt="Icon">
   </div>

   <div class="d-flex flex-column pl-3">
      <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
      <div class="d-flex">
         <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
         <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
      </div>
   </div>
</a>