<form action="" class="mt-2 mt-md-4">
   <div class="p-3 border-radius-8 ra-border">
      <h3 class="fz12 fw-400 mb-2 mb-md-3">Budgget</h3>

      <fieldset class="rs-form influInput w-100">
         <label for="influBud" class="rs-label influencer-label">Enter Budget Amount</label>
         <input id="influBud" type="text" class="rs-input fw-500 fz18">
         <p class="fz12 fw-400 gray-color mb-3 mb-md-4 mt-1">Your cost: 2500 + 10% = 2750</p>
      </fieldset>

      <button type="submit" class="rs-btn rs-btn-gray-bg uppercase">Update Budget</button>
   </div>
</form>