<div class="user-wrapper mt-4 mb-2 mb-md-4">
    <h2 class="fz24 fw-500 mb-1">Sorry!</h2>
    <p class="fz12 fw-400 gray-color mb-1 mb-md-3">We couldn’t find any influencers with those criteria. But you may
        choose from below-</p>
</div>

<form action="" id="influencer-form-2">
    <div class="row">
        <div class="col-md-12">
            <fieldset class="rs-form mb-3">
                <div class="d-flex align-items-center">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio-group mr-3 pr-3 pl-3 pb-2 pt-2 influenc-radio-group">
                                <div class="rs-checkbox d-flex align-items-center">
                                    <input type="checkbox" name="" class="rs-checkbox-input" id="influencer-1">
                                    <label
                                        class="checkbox-label fz16 user_img d-flex align-items-center influencersSelect"
                                        for="influencer-1">
                                        <div class="influencer-user table-row-bg-color">
                                            <img src="assets/images/icons/user.svg" alt="Icon">
                                        </div>

                                        <div class="d-flex flex-column pl-3">
                                            <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
                                            <div class="d-flex">
                                                <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
                                                <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio-group mr-3 pr-3 pl-3 pb-2 pt-2 influenc-radio-group">
                                <div class="rs-checkbox d-flex align-items-center">
                                    <input type="checkbox" name="" class="rs-checkbox-input" id="influencer-2">
                                    <label
                                        class="checkbox-label fz16 user_img d-flex align-items-center influencersSelect"
                                        for="influencer-2">
                                        <div class="influencer-user table-row-bg-color">
                                            <img src="assets/images/icons/user.svg" alt="Icon">
                                        </div>

                                        <div class="d-flex flex-column pl-3">
                                            <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
                                            <div class="d-flex">
                                                <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
                                                <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio-group mr-3 pr-3 pl-3 pb-2 pt-2 influenc-radio-group">
                                <div class="rs-checkbox d-flex align-items-center">
                                    <input type="checkbox" name="" class="rs-checkbox-input" id="influencer-3">
                                    <label
                                        class="checkbox-label fz16 user_img d-flex align-items-center influencersSelect"
                                        for="influencer-3">
                                        <div class="influencer-user table-row-bg-color">
                                            <img src="assets/images/icons/user.svg" alt="Icon">
                                        </div>

                                        <div class="d-flex flex-column pl-3">
                                            <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
                                            <div class="d-flex">
                                                <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
                                                <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio-group mr-3 pr-3 pl-3 pb-2 pt-2 influenc-radio-group">
                                <div class="rs-checkbox d-flex align-items-center">
                                    <input type="checkbox" name="" class="rs-checkbox-input" id="influencer-4">
                                    <label
                                        class="checkbox-label fz16 user_img d-flex align-items-center influencersSelect"
                                        for="influencer-4">
                                        <div class="influencer-user table-row-bg-color">
                                            <img src="assets/images/icons/user.svg" alt="Icon">
                                        </div>

                                        <div class="d-flex flex-column pl-3">
                                            <h4 class="fz20 fw-500 mb-2">Fahad Abdullah</h4>
                                            <div class="d-flex">
                                                <p class="fw-400 fz14">Gender: <span class="fw-700 pr-4">Male</span></p>
                                                <p class="fw-400 fz14">Budget: <span class="fw-700">৳ 50,000</span></p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>

            <div class="d-flex justify-content-between mt-4 pb-5">
                <button data-href="#" class="step-back-btn rs-btn rs-btn-secondary rs-btn-lg uppercase mr-3">
                    <span class="mdi mdi-arrow-left"></span>
                    Search Influencer
                </button>

                <button type="submit" class="rs-btn rs-btn-primary rs-btn-lg uppercase mr-3">Next
                    <span class="mdi mdi-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</form>