<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G&R</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/jpg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">

    <!-- build:css assets/css/all.min.css -->
    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/authentication.css">
    <!-- endbuild -->
    <script type="text/javascript" src="assets/vendor/jQuery/jquery.min.js"></script>
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="auth-layout-2 d-flex justify-content-center align-items-center flex-column">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>


    <!-- build:js assets/js/vendor.min.js -->
    <!-- endbuild -->
    <script type="text/javascript" src="assets/js/formValidate.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>

</body>
</html>