<section class="sidebar-menu-2">
    <div class="menu-toggler-2 d-none">
        <i class="mdi mdi-menu"></i>
    </div>
    <div class="site-logo-2">
        <a href="/"><img src="assets/images/icons/logo-2.svg" alt="G&R Logo"></a>
        <div class="sidebar-user-info">
            <a href="#"><span class="user">G&R Admin</span></a>
            <span class="amount">BDT 10,000</span>
        </div>
    </div>
    <div class="menu-area-2">
        <ul>
            <li>
                <a href="#">
                    <img src="assets/images/icons/home.svg" class="sidebar-icon-left" alt="Menu Icon">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="">Updates</a>
            </li>
            <li>
                <a href="">
                    <img src="assets/images/icons/home.svg" class="sidebar-icon-left" alt="Menu Icon">
                    <span>Favorites</span>
                    <span class="sidebar-notification">5</span>
                </a>
            </li>
            <li>
                <a class="" data-toggle="collapse" href="#" role="button" aria-expanded="false">
                    <p>Link with href</p> 
                    <span>
                       <img src="assets/images/icons/plus.svg" class="sidebar-icon-right" alt="Icon">
                    </span>
                </a>

                <div class="collapse">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                        proident.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>