<section class="sidebar-menu scrollbar">
    <div class="menu-toggler">
        <i class="mdi mdi-menu"></i>
    </div>
    <div class="site-logo">
        <a class="d-block" href="/">
            <img src="assets/images/logo.svg" alt="G&R">
        </a>
    </div>
    <div class="menu-area">
        <ul>
            <li class="active"><a href="/"><img class="icon" src="assets/images/icons/dashboard.svg" alt="">
                    Dashboard</a></li>
            <li><a href="properties.html"><img class="icon" src="assets/images/icons/ad-properties.svg"
                        alt="">Properties</a></li>

            <li>
                <a href="#influencer-sidebar-menu" data-toggle="collapse"><img class="icon"
                        src="assets/images/icons/influencer.svg" alt="">Influncers</a>
                <div id="influencer-sidebar-menu" class="collapse">
                    <ul>
                        <li><a href="influencerPlatform">Platform</a></li>
                        <li><a href="influencer">Influencer Posts</a></li>
                        <li><a href="influencerPost">Influencer Posts (Type: Advertiser)</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="placesAllAdded.html"><img class="icon" src="assets/images/icons/adplace.svg" alt="">Ad Place</a></li>
            <li><a href="connects.html"><img class="icon" src="assets/images/icons/connect.svg" alt="">Connects</a></li>

            <li>
                <a href="#report-sidebar-menu" data-toggle="collapse">
                    <img class="icon" src="assets/images/icons/report.svg" alt="">Report
                </a>
                <div id="report-sidebar-menu" class="collapse">
                    <ul>
                        <li><a href="overview.html">Overview</a></li>
                        <li><a href="location.html">Location</a></li>
                        <li><a href="revenue.html">Revenue</a></li>
                        <li><a href="technology.html">Technology</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="#payment-sidebar-menu" data-toggle="collapse"><img class="icon"
                        src="assets/images/icons/money.svg" alt="">Payments</a>
                <div id="payment-sidebar-menu" class="collapse">
                    <ul>
                        <li><a href="estimatedRevenuePage.html">Estimated Revennue</a></li>
                        <li><a href="finilizedPayment.html">Finilized Payments</a></li>
                        <li><a href="balance.html">Balance</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="clientDashboardOverview.html"><img class="icon" src="assets/images/icons/connect.svg" alt="Icon">Client Campaigns</a></li>
            <li>
                <a href="#advertiserCampaigns" data-toggle="collapse">
                    <img class="icon" src="assets/images/icons/arrow-up.svg" alt="">Campaigns
                </a>
                <div id="advertiserCampaigns" class="collapse">
                    <ul>
                        <li><a href="createCampaign.html"><img class="icon" src="assets/images/icons/all.svg" alt=""> All</a></li>
                        <li><a href="createCampaign.html">Scheduled</a></li>
                        <li><a href="createCampaign.html">Ongoing</a></li>
                        <li><a href="createCampaign.html">Completed</a></li>
                        <li><a href="draft.html">Draft</a></li>
                        <li><a href="createCampaign.html">Archieved</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#my-deals-sidebar-menu" data-toggle="collapse">
                    <img class="icon" src="assets/images/icons/arrow-up.svg" alt="">My Deals
                </a>
                <div id="my-deals-sidebar-menu" class="collapse">
                    <ul>
                        <li><a href="myDeals.html">Connect Requests</a></li>
                        <li><a href="myDeals.html">In Progress</a></li>
                        <li><a href="myDeals.html">Pending Approval</a></li>
                        <li><a href="myDeals.html">Cancelled</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#my-campaigns-sidebar-menu" data-toggle="collapse">
                    <img class="icon" src="assets/images/icons/arrow-up.svg" alt="">My Campaigns
                </a>
                <div id="my-campaigns-sidebar-menu" class="collapse">
                    <ul>
                        <li><a href="myCampaigns.html">Scheduled</a></li>
                        <li><a href="myCampaigns.html">Ongoing</a></li>
                        <li><a href="myCampaigns.html">Completed</a></li>
                        <li><a href="myCampaigns.html">Archieved</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#settings-sidebar-menu" data-toggle="collapse">
                    <img class="icon" src="assets/images/icons/settings.svg" alt="">Settings
                </a>
                <div id="settings-sidebar-menu" class="collapse">
                    <ul>
                        <li><a href="accountSettings.html">Account Settings</a></li>
                        <li><a href="users.html">Users</a></li>
                        <li><a href="activityLogPage.html">Activity Log</a></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>