<div class="sideBar">
   <div class="sideBarBody">
      <div class="sideBarHeader">
         <img src="/assets/images/icons/sidebar/logo.svg" alt="">
         <div>
            <p class="fz16 fw-600 mb-0">G&R Client</p>
            <p class="balance">BDT 10,000</p>
         </div>
      </div>
      <div class="sideBarMenus">
         <ul>
            <li class="sideBarMenu ">
               <div class="menu-item  active ">
                  <a href=" / " class="menuLink">
                     <img src="/assets/images/icons/sidebar/dashboard.svg" alt="">
                     <span>Dashboard</span>
                  </a>
               </div>
            </li>
            <li class="sideBarMenu  fw-600">
               <div class="menu-item   ">
                  <a href=" / " class="menuLink">
                     <img src="/assets/images/icons/sidebar/updates.svg" alt="">
                     <span>Updates</span>
                  </a>
                  <span class="counter">2</span>
               </div>
            </li>
            <li class="sideBarMenu ">
               <div class="menu-item   ">
                  <a href=" / " class="menuLink">
                     <img src="/assets/images/icons/sidebar/favorites.svg" alt="">
                     <span>Favorites</span>
                  </a>
               </div>
            </li>
            <div class="actionBar">
               <span>Account</span>
               <a href="javascript:void(0)" class="actionIcon"><img src="/assets/images/icons/sidebar/plus.svg" alt=""></a>
               <div class="action-popup">
                  <a href="">Create Properties</a>
                  <a href="">Create Payment</a>
               </div>
            </div>
            <li class="sideBarMenu  dropdown ">
               <div class="menu-item   ">
                  <a href=" javascript:void(0) " class="menuLink">
                     <img src="/assets/images/icons/sidebar/favorites.svg" alt="">
                     <span>Favorites</span>
                  </a>
               </div>
               <ul class="dropdown-menus">
                  <li class="sideBarMenu">
                     <div class="menu-item   ">
                        <a href="/" class="menuLink">
                           <img src="/assets/images/icons/sidebar/favorites.svg" alt="">
                           <span>Favorites</span>
                        </a>
                        <span class="counter">2</span>
                     </div>
                  </li>
                  <li class="sideBarMenu">
                     <div class="menu-item   ">
                        <a href="/" class="menuLink">
                           <img src="/assets/images/icons/sidebar/favorites.svg" alt="">
                           <span>Favorites</span>
                        </a>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="sideBarMenu  fw-600">
               <div class="menu-item   ">
                  <a href=" / " class="menuLink">
                     <img src="/assets/images/icons/sidebar/favorites.svg" alt="">
                     <span>Favorites</span>
                  </a>
                  <span class="counter">2</span>
               </div>
            </li>
            <li class="sideBarMenu ">
               <div class="menu-item   ">
                  <a href=" / " class="menuLink">
                     <img src="/assets/images/icons/sidebar/favorites.svg" alt="">
                     <span>Favorites</span>
                  </a>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>