<section class="sidebar-menu">
    <div class="site-logo">
        <a class="d-block" href="">
            <img src="assets/images/logo.svg" alt="G&R">
        </a>
    </div>
    <div class="menu-area">
        <ul>
            <li class="active"><a href=""><img class="icon" src="assets/images/icons/dashboard.svg" alt=""> Dashboard</a></li>
            <li><a href=""><img class="icon" src="assets/images/icons/ad-properties.svg" alt="">Properties</a></li>
            <li><a href=""><img class="icon" src="assets/images/icons/adplace.svg" alt="">Ad Place</a></li>
            <li><a href=""><img class="icon" src="assets/images/icons/report.svg" alt="">Report</a></li>
            <li><a href=""><img class="icon" src="assets/images/icons/money.svg" alt="">Payments</a></li>
            <li><a href=""><img class="icon" src="assets/images/icons/settings.svg" alt="">Settings</a></li>
        </ul>
    </div>
</section>